<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases" />
  </configSections>

  <connectionStrings>

    <add name="tere" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=logs;Persist Security Info=True;User ID=sa;Password=as" providerName="System.Data.SqlClient" />

  </connectionStrings>
  
  <FwkConfigProvider defaultProviderName="proveedor1">
    <Providers>
      <add name="proveedor1" type="local" baseConfigFile="ConfigMannager.xml" sourceinfo ="" />
      <add name="proveedor2" type="local" baseConfigFile="Config_colores.xml" sourceinfo ="" />
      <add name="proveedor3_baseDatos" type="sqldatabase" baseConfigFile="Config_colores.xml" sourceinfo ="tere" />
    </Providers>
  </FwkConfigProvider>


</configuration>
