<?xml version="1.0"?>
<configuration>
  <configSections>
    
  </configSections>
  <connectionStrings>
    <!--CORRSF71DES01 = 172.22.13.150 -->
    <add name="ActiveDirectory_" connectionString="Data Source=CORRSF71DES01;Initial Catalog=BB_Desarrollo_1_6_0;Persist Security Info = False;Trusted_Connection=Yes" providerName="System.Data.SqlClient"/>
    <add name="ActiveDirectory" connectionString="Data Source=172.22.13.150;Initial Catalog=BB_Desarrollo_1_6_0;Persist Security Info = True;User ID=user_BB_des160;Password=88_Des01_160_Jul222011" providerName="System.Data.SqlClient"/>
    <add name="connectionStringSec" connectionString="Data Source=corrsf71nt09;Initial Catalog=BigBang;Persist Security Info = True;User ID=BigBang;Password=B1gB4ng+01" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--performWindowsContextImpersonalization on HD Helper-->
    <add key="FwkImpersonate" value="false"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
      </assemblies>
    </compilation>


    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5"/>

    
   
  </system.web>
  <system.codedom>
      <compilers>
        
    </compilers>
  </system.codedom>
  <system.webServer>
      
    
    
  </system.webServer>
  <runtime>
    
  </runtime>
</configuration>