<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
		<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral" >

		</sectionGroup>
	</configSections>
	<FwkLogging>
		<Rules>
			<add name="Rule1"  events="Error,Information,Warning"  target="WindowsEvent" />
			<add name="Rule2"  events="Debug"  target="Xml"  fileName="Logs.xml" />
		</Rules>
	</FwkLogging>
	<FwkConfigProvider defaultProviderName="P1">
		<Providers>
			<add name="P1"  isLocal="True"  baseConfigFile="C:\Projects\Bigbang\src\Libraries\ConfigurationManager.xml" remotingConfigFile = "remotingconfigfile.config" lifeTime="0" />
			<add name="P2"  isLocal="True"  baseConfigFile="c:\Projects\Fwk 3.0\FrameworkTools\ConfigurationApp\ConfigFiles\ConfigurationManagerRemotingClientEzequiel.xml" remotingConfigFile = "remotingconfigfile.config" lifeTime="0"/>
			<add name="P3"  isLocal="True"  baseConfigFile="c:\Projects\Fwk 3.0\FrameworkTools\ConfigurationApp\ConfigFiles\ConfigurationManagerRemotingClient_Maricel.xml" remotingConfigFile = "remotingconfigfile.config" lifeTime="0" />
		</Providers>
	</FwkConfigProvider>


	<connectionStrings>
		<add name="LogsDB"
		providerName="System.Data.SqlClient"
		connectionString="Data Source=xx; Initial Catalog=Logs;Integrated Security=True" />
	</connectionStrings>
    
</configuration>