<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAbm5EkpbWG0GGv0TuKIFZeAQAAAACAAAAAAADZgAAqAAAABAAAABVTza8EKLculraFsNTJJaFAAAAAASAAACgAAAAEAAAAKCag7+hlzi6rnuc0X3nSbwwAAAAZQXNhU0aL0qPIdCqQ9jo/IQsm+1Na5RKQ5XRWbFQ8Lw499mecUl5SVlKeW5fp2KOFAAAACqiDcnzvPjIoXG4f4r+PSm+GpDY</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>