<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <connectionStrings>
    <add name="log" connectionString="Data Source=corrsf71des01;Initial Catalog=WindowsLogs;Integrated Security=True" providerName="System.Data.SqlClient"/>
	<add name="__log" connectionString="Data Source=moviedo\SQLEXPRESS;Initial Catalog=WindowsLogs;Integrated Security=True" providerName="System.Data.SqlClient"/>    

  </connectionStrings>

</configuration>