<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fwk.Bases.Properties.Settings.fwktestConnectionString"
            connectionString="Data Source=SANTANA\SQLEXPRESS;Initial Catalog=fwktest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Fwk.Bases.Properties.Settings.MailsConnectionString"
            connectionString="Data Source=SANTANA\SQLEXPRESS;Initial Catalog=Mails;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Fwk.Bases.Properties.Settings.fwktestConnectionString1"
            connectionString="Data Source=MOVIEDO\SQLEXPRESS;Initial Catalog=fwktest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>