<configuration>
	<configSections>
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
	</configSections>


	<FwkLogging>
		<Rules>
			<add name="Rule1" events="Error" target="WindowsEvent"/>
			<add name="Rule2" events="Warning" target="Xml" fileName="Log.xml"/>
			<add name="Rule3" events="Information" target="WindowsEvent"/>
		</Rules>
	</FwkLogging>
</configuration>
