<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases" />
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases" />
	  <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fwk.Bases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <cachingConfiguration defaultCacheManager="ServiceCache">
    <cacheManagers>

      <add expirationPollFrequencyInSeconds="120"
					   maximumElementsInCacheBeforeScavenging="2000"
					numberToRemoveWhenScavenging="20"
					   backingStoreName="Isolated Storage"
					type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					name="ServiceCache" />
    </cacheManagers>
    <backingStores>
      <add partitionName="appDatos"
					   encryptionProviderName=""
					   type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					  name="Isolated Storage" />
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullStorage" />
    </backingStores>

  </cachingConfiguration>
	
  <connectionStrings>
    <add name="test2" connectionString="Data Source=santana\sqlexpress;Initial Catalog=fwktest;Persist Security Info = True;User ID=sa;Password=as" providerName="System.Data.SqlClient" />
    <add name="test" connectionString="Database=fwktest;Server=(local)\SQLEXPRESS;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="test44" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=fwktest;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <applicationSettings>
    <Fwk.Bases.Properties.Settings>
   

    </Fwk.Bases.Properties.Settings>
  </applicationSettings>
  <!--Configuracion del los proveedores de  configuracion del frameworck -->
  <FwkConfigProvider defaultProviderName="localFile">
    <Providers>
      <add  name ="localFile" type="local"  baseConfigFile="..\..\..\Test\Fwk.UnitTest\bin\Debug\ConfigurationManager.xml"  />
      <add  name ="database" type="database" baseConfigFile="ConfigurationManager_Test" sourceinfo = "test"  />
	
    </Providers>
  </FwkConfigProvider>
  <!--Configuracion del logging del frameworck -->
  <FwkLogging>
    <Rules>
      
      <add name="Rule2" events="Error" target="Xml" fileName="Logs.xml" />
      <add name="Rule3" events="Warning" target="Xml" cnnStringName="test" fileName="Logs.xml" />
      <add name="Rule4" events="Information" target="Database" cnnStringName="test" />
      
    </Rules>
  </FwkLogging>
	<!--Configuracion del metadata de servicios del frameworck -->
	<FwkServiceMetadata defaultProviderName="Sql_test">
		<Providers>
			<add name="XML_test" type="xml" appid ="" sourceinfo="..\..\..\Test\Fwk.UnitTest\bin\Debug\ServiceMetadataConfig.xml" />
			<add name="Sql_test" type="sqldatabase" appid="" sourceinfo="test" />
		</Providers>
	</FwkServiceMetadata>
	
  <system.web>
    <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="BigBangConnectionString" applicationName="Bigbang"/>
      </providers>
    </roleManager>
    <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider"
							 connectionStringName="BigBangConnectionString" applicationName="Bigbang" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
  </system.web>
  <system.runtime.remoting>
    <application name="BigbangDispatcher">
      <service>
        <wellknown
				   mode="Singleton"
				   type="Fwk.Remoting.FwkRemoteObject, Fwk.Bases"
				   objectUri="BigbangDispatcher.rem"
            />
      </service>
      <channels>
        <channel ref="tcp" port="8085"/>
      </channels>
    </application>
    <customErrors mode="Off"/>
  </system.runtime.remoting>
</configuration>