<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases" />
  </configSections>

  
  


  <appSettings>

    <add key="CompanyId" value="test" />


  </appSettings>

  <FwkServiceMetadata defaultProviderName="Xml">
    <Providers>
      <add name="Xml" type="xml" appid ="" sourceinfo="ServiceMetadataConfig.xml" />
      <add name="Sql" type="sqldatabase" appid="" sourceinfo="BPConfig" />
    </Providers>
  </FwkServiceMetadata>

</configuration>