<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="FwkMailAgentProvider" type="Fwk.ConfigSection.MailAgentSection, Fwk.Bases"/>
	</configSections>
	
	

	<!--Configuracion del los proveedores de  configuracion del frameworck -->
	<FwkMailAgentProvider defaultProviderName="default">
		<Providers>
			<add name="default"  hostMail="172.22.12.30" 
				 inboxUrl="http://{0}/WorldClient.dll?view=Main&amp;user={1}&amp;password={2}&amp;Folder=Inbox&amp;FirstUnread=Yes" 
				 refreshTime = "5" 
				 useSSL="false" />

			<add name="XX"  hostMail="172.22.12.32"
			inboxUrl="http://{0}/WorldClient.dll?view=Main&amp;user={1}&amp;password={2}&amp;Folder=Inbox&amp;FirstUnread=Yes"
				 refreshTime = "5"
				 useSSL="false" />
			<add name="YY"  hostMail="172.22.12.32"
				 inboxUrl="http://{0}/WorldClient.dll?view=Main&amp;user={1}&amp;password={2}&amp;Folder=Inbox&amp;FirstUnread=Yes"
				 refreshTime = "5"
				 useSSL="false" />
		</Providers>
	</FwkMailAgentProvider>


</configuration>