<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
	</configSections>
	<cachingConfiguration defaultCacheManager="KillProcess">
		<cacheManagers>

			<add expirationPollFrequencyInSeconds="120"
				 maximumElementsInCacheBeforeScavenging="2000"
			  numberToRemoveWhenScavenging="20"
				 backingStoreName="Isolated Storage"
			  type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="Cache1" />		
			<add expirationPollFrequencyInSeconds="120"
				 maximumElementsInCacheBeforeScavenging="100"
   numberToRemoveWhenScavenging="20"
				 backingStoreName="Isolated Storage"
			  type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="KillProcess" />
		</cacheManagers>
		<backingStores>
			<add partitionName="appDatos"
				 encryptionProviderName=""
				 type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				name="Isolated Storage" />
		
		</backingStores>
	

	</cachingConfiguration>
</configuration>