<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases" />
		<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases" />
		<section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases" />
		<section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases" />

	</configSections>
	
	<cachingConfiguration defaultCacheManager="ServiceCache">
		<cacheManagers>

			<add expirationPollFrequencyInSeconds="120"
					   maximumElementsInCacheBeforeScavenging="2000"
					numberToRemoveWhenScavenging="20"
					   backingStoreName="Isolated Storage"
					type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
					name="ServiceCache" />
		</cacheManagers>
		<backingStores>
			<add partitionName="appDatos"
					   encryptionProviderName=""
					   type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
					  name="Isolated Storage" />
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="NullStorage" />
		</backingStores>

	</cachingConfiguration>
	<connectionStrings>

		<add name="BigBangConnectionString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=BigBang;Persist Security Info = True;User ID=BigBang;Password=B1gB4ng+01" providerName="System.Data.SqlClient"/>
		<add name="test" connectionString="Database=fwktest;Server=(local)\SQLEXPRESS;Integrated Security=SSPI" providerName="System.Data.SqlClient" />

	</connectionStrings>
	<appSettings>
		<add key="MaxRecords" value="2147483647"/>
		<add key="CompanyId" value="pelsoft"/>
	</appSettings>


	<!--Configuracion del los proveedores de  configuracion del frameworck -->
	<FwkConfigProvider defaultProviderName="local">
		<Providers>
			<add name="local" type="local" baseConfigFile="ConfigurationManager.xml" />
		</Providers>
	</FwkConfigProvider>
	<!--Configuracion del logging del frameworck -->
	<FwkLogging>
		<Rules>
			
			<add name="Rule2" events="Error" target="Xml" fileName="Logs.xml"/>
			<add name="Rule3" events="Warning" target="Xml" cnnStringName="" fileName="Logs.xml"/>
			<add name="Rule4" events="Information" target="WindowsEvent"/>
		</Rules>
	</FwkLogging>

	<!--Configuracion del metadata de servicios del frameworck -->
	<FwkServiceMetadata defaultProviderName="XML_test1">
		<Providers>
			<add name="XML_test" type="xml" appid ="" sourceinfo="..\..\..\..\Services\Fwk.Security.Service.Test\bin\Debug\ServiceMetadataConfig.xml" />
			<add name="Sql_test" type="sqldatabase" appid="" sourceinfo="test" />
		</Providers>
	</FwkServiceMetadata>
	<FwkWrapper defaultProviderName="XML_test">
		<Providers>
			<add name="XML_test" companyId="test"  securityProviderName="providerTest" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector"  sourceinfo="" />
		</Providers>
	</FwkWrapper>
	
	<system.web>
		<roleManager defaultProvider="providerTest" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<add name="providerTest" type="System.Web.Security.SqlRoleProvider" connectionStringName="test" applicationName="Bigbang"/>
			</providers>
		</roleManager>
		<membership defaultProvider="providerTest" userIsOnlineTimeWindow="15">
			<providers>
				<add name="providerTest" type="System.Web.Security.SqlMembershipProvider" connectionStringName="test" applicationName="Bigbang" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
			</providers>
		</membership>
	</system.web>
	
	
</configuration>
