<?xml version="1.0"?>
<configuration>
    <system.serviceModel>


      <bindings>
        <netTcpBinding>
          <binding name="tcp" />
        </netTcpBinding>
        <wsHttpBinding>
          <binding name="web">
            <security mode="None" />
          </binding>
        </wsHttpBinding>
      </bindings>
      <client>
        <endpoint address="net.tcp://localhost:8001/FwkService1" binding="netTcpBinding"
          contract="ServiceReference1.IFwkService1" name="FirstEndpoint" />
        <endpoint address="net.tcp://moviedo:8001/FwkService2" binding="netTcpBinding"
          contract="ServiceReference2.IFwkService2" name="SecondEndpoint" />
        <endpoint address="net.tcp://localhost:8001/FwkService1" binding="netTcpBinding"
          bindingConfiguration="tcp" contract="ServiceReference1.IFwkService1"
          name="tcp">
          <identity>
            <userPrincipalName value="santana\moviedo" />
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8732/WcfDispatcher/FwkService1/mex"
          binding="wsHttpBinding" bindingConfiguration="web" contract="ServiceReference1.IFwkService1"
          name="web" />
      </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
