<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>


      <client>
        <endpoint name = "FirstEndpoint"
           address  = "net.tcp://santana:8001/FwkService1"
           binding  = "netTcpBinding"
           contract = "ServiceReference1.IFwkService1"
      />
        <endpoint name = "SecondEndpoint"
                   address  = "net.tcp://santana:8001/FwkService2"
                   binding  = "netTcpBinding"
                   contract = "ServiceReference2.IFwkService2"
      />
      </client>
    </system.serviceModel>
</configuration>