<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
		<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
	</configSections>
	
	



	<connectionStrings>
		<add name="LogsDB" providerName="System.Data.SqlClient" 
			 connectionString="Data Source=CORRSF71BI01; Initial Catalog=Logs;Integrated Security=True" />
	</connectionStrings>

	<cachingConfiguration defaultCacheManager="Cache">
		<cacheManagers>

			<add expirationPollFrequencyInSeconds="120"
				 maximumElementsInCacheBeforeScavenging="2000"
			  numberToRemoveWhenScavenging="20"
				 backingStoreName="Isolated Storage"
			  type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="Cache" />
		</cacheManagers>
		<backingStores>
			<add partitionName="appDatos"
				 encryptionProviderName=""
				 type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				name="Isolated Storage" />
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullStorage" />
		</backingStores>

	</cachingConfiguration>

	<!--Configuracion del los proveedores de  configuracion del frameworck -->
	<FwkConfigProvider defaultProviderName="local">
		<Providers>
			<add name="local"  isLocal="True"  baseConfigFile="..\..\..\..\..\Libraries\ConfigurationManeger.xml" remotingConfigFile = "" lifeTime="0" />
		</Providers>
	</FwkConfigProvider>
	<!--Configuracion del logging del frameworck -->
	<FwkLogging>
		<Rules>
			<!--Events:

						2. Error
						3. Warning
						4. Information
				Targets
						1. File
						2. Xml
						3. Database
						4. WindowsEvent

			-->
			<add name="Rule1"  events="Debug"  target="File"  fileName="Logs.log" />
			<add name="Rule2"  events="Error"  target="Xml"  fileName="Logs.xml" />
			<add name="Rule3"  events="Warning"  target="Xml"  cnnStringName="" fileName="Logs.xml"/>
			<add name="Rule4"  events="Information"  target="WindowsEvent" />
			<add name="Rule5"  events="Information"  target="Console" />
		</Rules>
	</FwkLogging>

</configuration>