<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
 		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral">

		</sectionGroup>
  
	</configSections>
  <FwkLogging>
     <Rules>
    <!--Events:
		
						2. Error
						3. Warning
						4. Information
            5. Audit
				Targets
						1. File
						2. Xml
						3. Database
						4. WindowsEvent
		
			-->

    
	  <add name="Rule9" events="Audit" target="Xml" fileName="Logs.xml"/>
    <add name="Rule3" events="Warning" target="Xml" fileName="Logs.xml"/>
    <add name="Rule2" events="Error" target="Database" cnnStringName="LogsDB2"/>
    <add name="Rule4" events="Information" target="Database" cnnStringName="LogsDB2"/>

  </Rules>
   </FwkLogging>

	<connectionStrings>
    
    <add name="LogsDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=logs;Persist Security Info=True;User ID=sa;Password=as" providerName="System.Data.SqlClient"/>
    <add name="LogsDB2" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=fwktest;Integrated Security=True"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
