<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
 		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral" >

		</sectionGroup>
  
	</configSections>
  <FwkLogging>
     <Rules>
    <!--Events:
						1. Debug
						2. Error
						3. Warning
						4. Information
            5. Audit
				Targets
						1. File
						2. Xml
						3. Database
						4. WindowsEvent
						5. Console
			-->
    <add name="Rule1"  events="Debug"  target="File"  fileName="Logs.log" />
    <add name="Rule2"  events="Error"  target="Database"  cnnStringName="LogsDB"/>
    <add name="Rule3"  events="Warning"  target="Database"  cnnStringName="LogsDB" fileName="Logs.xml" />
    <add name="Rule4"  events="Information"  target="WindowsEvent" />

  </Rules>
   </FwkLogging>

	<connectionStrings>
    
    <add name="LogsDB"  connectionString="Data Source=SANTANA\SQLEXPRESS;Initial Catalog=logs;Persist Security Info=True;User ID=sa;Password=as"  providerName="System.Data.SqlClient" />
  
	</connectionStrings>
</configuration>