*{ margin: 0; padding: 0;}

body
{
    color: #666666;
    height: 100%;
    padding: 0px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 15px;
    background-color:White;
    background-repeat: repeat;
}
/*	//////////////////////////////////////////////////////////////////////////////////
	//	TITULOS
	//////////////////////////////////////////////////////////////////////////////////
*/
h1 {font-size: 27px;line-height: 30px;text-decoration: none;font-weight: bold;color: #642D15;margin-top: 0px;margin-right: 0px;margin-bottom: 5px;margin-left: 0px;padding: 0px;}
h2 {color: #576d84;font-size: 19px;line-height:20px;font-weight: bold;margin: 0px;padding-top: 8px;padding-right: 0px;padding-bottom: 11px;padding-left:0px;padding: 0px;}
h3{color: #585858;font-size: 19px;line-height:20px;font-weight: bold;margin: 0px;padding-top: 8px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;}
h4 {color: #576d84;font-size: 24px;line-height:25px;font-weight: bold;margin: 0px;padding-top: 8px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;}
h5 {color: #585858;font-size: 24px;line-height:25px;font-weight: bold;margin: 0px;padding-top: 8px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;}
h6 {color: #576d84;font-size: 17px;line-height:18px;font-weight: bold;margin: 0px;padding-top: 8px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;}
h7 {color: #585858;font-size: 17px;line-height:18px;font-weight: bold;margin: 0px;padding-top: 8px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;}
#home_wrap
{
    height:500px;
    width:850px;
    margin-top:20px;}
#home_wrap_image
{
   margin: 5px;

    }
#home_btn_start
{
    margin-right: 30px;
    border-style: none;
    float: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #666666;
    text-align: right;
    background-color: #FFFFFF;
}
#home_btn_start:hover
{
    border-style: solid;
    border-bottom-width: 3px;
    border-color: #FFFFFF;
    color: #333333;
}
        
#master_preheader
{
    background-color:#627AAD;
    color: White;
    height: 10px;
    padding-top:5px;
    padding-bottom: 5px; /*background-image: -moz-linear-gradient(0deg, #002D2D 10px,#002D2D, #FF0000); 
    background-image: -webkit-gradient(radial, center top, center bottom, from(#FF0000), to(#002D2D));
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=4,startColorStr=#FF0000,endColorStr=#002D2D);*/
}
	
/*headers*/
#master_header
{     background-position: center center;
    background-image:  none;
    background-color: #3B5998;
   height: 120px;
    border-style: solid;
    border-width: 1px;
    voice-family: "\"}\"";
    voice-family: inherit;
 }
/*titulo principal*/
#master_header_tittle
{
    font-size: 16px;
    font-weight:bold;
    padding: 10px 10px 0px 10px;
    margin: 0px;
    color: White;
    float:left;	
}

#master_header_tittle p:hover
{
    color: #CCCCCC;
    font-weight: bold;
}
#master_header_searcher{   float:right;   margin-top:65px; }
    
    
/*columns*/
#master_wrap{background-color:White;  margin-top:10px;}

#master_leftcol{float:left;margin:5px 0px 5px 0; padding: 3px;}

#master_center_right_wrap
{
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF #FFFFFF #C0C0C0 #C0C0C0;
    height: 100%;
}
#master_centercol
{
    margin: 0px 0px 5px 0;
    padding: 3px;
    float: left;
}
.center_content_Holder_wrap
{
    margin:0;
    border-style: none solid none solid;
    border-width: 1px;
    border-color: #B3B3B3;
    padding:0;
    min-height:800px;
}
#master_rightcol
{
    float:right; 
    margin-left:-10px;
    margin-top: 5px ;
    margin-bottom: 5px ;
    margin-right:0px;
    padding:3px;
}

#master_footer
{    
    padding: 10px;
    margin: 20px;
    height: 4em;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    vertical-align: middle;
}
#master_footerLine{    margin: 10px;   border-bottom: 1px solid #B3B3B3;    font-size: 1px;height: 8px;}
#master_footerContainerLeft{float:left;color:#808080}
#master_footerContainerRight{float:right;}

#master_logging{color:Black;float:left;margin-top:15px;}
#master_logging_image{float:left;}
#master_logging_status{margin-left:22px}
#master_logging_status span{margin-right:10px;color:inherit;font-weight:bold;}
.master_logging_status_asp{color:Black;font-weight:bold;text-decoration:none;}
.master_logging_status_asp_spam
{
    color: #666666;
    font-weight: bold;
    text-decoration: none;
}
/*Loging controls*/
.logingcontrol
{
    background-color:#F7F7DE;
    border-color:#CCCC99;
    border-style:solid;
    border-width:1px;
    font-family:Verdana;
    font-size:10px;    
    width:100%;
}
  
.login_check{margin:20px;}
.login_check label
{
    margin-left: 10px;
    margin-top: 20px;
    color: #800000;
}


#pannel_separator{height:30px;}

/*Redondeo estandar para toda caja contenedora*/
.box_roun_shadow
{
     
         border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        -khtml-border-radius: 5px;
        -webkit-border-radius: 5px;
         -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.3);
        -webkit-box-shadow:  0px 0px 3px 3px rgba(0,0,0,0.3);
        behavior: url('../js2/PIE.htc');
        box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.3);
    }



/*objetos varios*/  
.searhLeftBox 

{
      background-color : #627AAD;
	height:50px;
    margin: 10px;
    padding: 0px;
    border: 1px solid #CCCCCC;
 }
.searhLeftBox h1
{
    padding: 0px;
    margin-top: 3px;
    color: #CCCCCC;
    font-size: 11px;
   line-height: 11px;
}
.searhLeftBox_txt{margin:2px;}