<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
		<section name="FwkMailAgentProvider" type="Fwk.ConfigSection.MailAgentSection, Fwk.Bases"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MailAgentTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
   <section name="Allus.Utils.MailAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<cachingConfiguration defaultCacheManager="ServiceCache">
		<cacheManagers>

			<add expirationPollFrequencyInSeconds="120" maximumElementsInCacheBeforeScavenging="2000" numberToRemoveWhenScavenging="20" backingStoreName="Isolated Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="ServiceCache"/>
		</cacheManagers>
		<backingStores>
			<add partitionName="appDatos" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="Isolated Storage"/>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="NullStorage"/>
		</backingStores>

	</cachingConfiguration>
	
	<FwkMailAgentProvider defaultProviderName="default">
		<Providers>
			<add name="default" hostMail="172.22.12.30" inboxUrl="http://{0}/WorldClient.dll?view=Main&amp;user={1}&amp;password={2}&amp;Folder=Inbox&amp;FirstUnread=Yes" refreshTime="5" useSSL="false"/>
			<!--tmk.allus.com.ar 172.22.12.30 Reps Disco / La Voz / Selección RRHH-->
		</Providers>
	</FwkMailAgentProvider>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
