<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
    
  </configSections>
  <connectionStrings>
    <add name="fwktest" connectionString="Data Source=.\sqlexpress;Initial Catalog=fwktest;Persist Security Info = True;User ID=sa;Password=as" providerName="System.Data.SqlClient"/>
    <add name="test" connectionString="Database=fwktest;Server=.\SQLEXPRESS;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="test44" connectionString="Data Source=CORRSF71DES01;Initial Catalog=BB_Desarrollo_5_0;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="BlockingModel" connectionString="Data Source=CORRSF71DES01;Initial Catalog=FwkBlocking;Persist Security Info=True;User ID=sa;Password=as" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <!--Configuracion del los proveedores de  configuracion del frameworck -->
  <FwkConfigProvider defaultProviderName="localFile1">
    <Providers>
      
      
      
		<add name="proveedor_migrar" type="sqldatabase" baseConfigFile="es-AR" sourceinfo="test44"/>
		<add name="SourceBB" type="local" baseConfigFile="\\CORRSF71BD06\BigBangColombiaSN\ConfigurationManager.xml" sourceinfo=""/>
    </Providers>
  </FwkConfigProvider>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
