<?xml version="1.0" encoding="utf-8" ?>
<!--Author: moviedo-->
<!--Esto se debe agregar en el front que implementará Caching-->
<configuration>
  <!--Se declara la sección que conendrá caching con el Nombre: cachingConfiguration-->
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral PublicKeyToken=null" />
  </configSections>
  
  <!--cachingConfiguration es donde se optiene la configuracion de caché. En este caso por Default IsolatedStorage(Disco), 
  De lo contrario NullStorage(Memoria))-->
  <cachingConfiguration defaultCacheManager="ConfigurationIsolatedManager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" 
           maximumElementsInCacheBeforeScavenging="1000"
           numberToRemoveWhenScavenging="60" 
           backingStoreName="NullStorage"
           name="ConfigurationManager" />
      <add expirationPollFrequencyInSeconds="60" 
           maximumElementsInCacheBeforeScavenging="1000"
           numberToRemoveWhenScavenging="60" 
           backingStoreName="IsolatedStorage"
           name="ConfigurationIsolatedManager" />
    </cacheManagers>
    <backingStores>
      <add partitionName="appDatos" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral PublicKeyToken=null"
          name="IsolatedStorage" />
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral PublicKeyToken=null" name="NullStorage" />
    </backingStores>
  </cachingConfiguration>
  
  <!--Dentro de applicationSettings Se lo configura de la siguiente manera-->
  <applicationSettings>
    
  </applicationSettings>
  
  </configuration>