<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases" />
    
  </configSections>
  <connectionStrings>
    <add name="test2" connectionString="Data Source=santana\sqlexpress;Initial Catalog=fwktest;Persist Security Info = True;User ID=sa;Password=as" providerName="System.Data.SqlClient" />
    <add name="test" connectionString="Database=fwktest;Server=(local)\SQLEXPRESS;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="test44" connectionString="Data Source=SANTANA\SQLEXPRESS;Initial Catalog=fwktest;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BlockingModel" connectionString="Data Source=CORRSF71DES01;Initial Catalog=FwkBlocking;Persist Security Info=True;User ID=sa;Password=as" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <FwkConfigProvider defaultProviderName="localFile">
  <Providers>
    <add  name ="localFile" type="local"  baseConfigFile="..\..\..\Test\Fwk.UnitTest\bin\Debug\ConfigurationManager.xml"  />
    <add  name ="database" type="database" baseConfigFile="ConfigurationManager_Test" cnnStringName = "test"  />
  </Providers>
  </FwkConfigProvider>
</configuration>