<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="DBTypesMapping" type="CodeGenerator.Back.Common.DBTypesMappingSection, CodeGenerator.Back.Common"/>
    <section name="CodeGeneration" type="CodeGenerator.Back.Configuration.CodeGenerationSection, CodeGenerator.Back"/>
  </configSections>
  <securityCryptographyConfiguration>
    <symmetricCryptoProviders>
      <add algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" protectedKeyFilename="CnnCrypt.key" protectedKeyProtectionScope="CurrentUser" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="CnnCryptProvider"/>
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  <appSettings>
    <add key="DataBaseConfig" value="DataBaseConfig.xml"/>
    <add key="PublicOnCitryx" value="false"/>
    <add key="LoadMetaDataFromXML" value="false"/>
  </appSettings>
  
  <DBTypesMapping ParameterToken="@" InputParameter="" OutputParameter="OUTPUT" InputOutputParameter="" DefaultNullParameter=" = NULL">
    <DBTypes>


      <add name="varchar" targettype="System.String" nullabletoken="" targetdbtype="System.Data.DbType.String" targetschematype="string" parameterpattern="[Name] [Type]([Length]) [Direction]" patternprefixtype="sz"/>
      <add name="nvarchar" targettype="System.String" nullabletoken="" targetdbtype="System.Data.DbType.String" targetschematype="string" parameterpattern="[Name] [Type]([Length]) [Direction]" patternprefixtype="sz"/>
      <add name="text" targettype="System.String" nullabletoken="" targetdbtype="System.Data.DbType.String" targetschematype="string" parameterpattern="[Name] varchar(8000) [Direction]" patternprefixtype="sz"/>
      <add name="ntext" targettype="System.String" nullabletoken="" targetdbtype="System.Data.DbType.String" targetschematype="string" parameterpattern="[Name] varchar(8000) [Direction]" patternprefixtype="sz"/>
      <add name="uniqueidentifier" targettype="System.String" nullabletoken="" targetdbtype="System.Data.DbType.String" targetschematype="string" parameterpattern="[Name] VARCHAR(36) [Direction]" patternprefixtype="sz"/>
      <add name="nchar" targettype="System.String" nullabletoken="" targetdbtype="System.Data.DbType.String" targetschematype="string" parameterpattern="[Name] nchar([Length]) [Direction]" patternprefixtype="sz"/>
      <add name="char" targettype="System.String" nullabletoken="" targetdbtype="System.Data.DbType.String" targetschematype="string" parameterpattern="[Name] char([Length]) [Direction]" patternprefixtype="sz"/>
		<add name="sysname" targettype="System.String" nullabletoken="" targetdbtype="System.Data.DbType.String" targetschematype="string" parameterpattern="[Name] char([Length]) [Direction]" patternprefixtype="sz"/>
		
		<add name="bit" targettype="System.Boolean" nullabletoken="?" targetdbtype="System.Data.DbType.Boolean" targetschematype="boolean" parameterpattern="[Name] [Type] [Direction]" patternprefixtype="b"/>
		<add name="datetime" targettype="System.DateTime" nullabletoken="?" targetdbtype="System.Data.DbType.DateTime" targetschematype="dateTime" parameterpattern="[Name] [Type] [Direction]" patternprefixtype="dt"/>
		<add name="smalldatetime" targettype="System.DateTime" nullabletoken="?" targetdbtype="System.Data.DbType.DateTime" targetschematype="dateTime" parameterpattern="[Name] [Type] [Direction]" patternprefixtype="dt"/>

		<add name="tinyint" targettype="System.Byte" nullabletoken="" targetdbtype="System.Data.DbType.Byte" targetschematype="unsignedByte" parameterpattern="[Name] [Type] [Direction]" patternprefixtype="i"/>
		<add name="bigint" targettype="System.Int32" nullabletoken="?" targetdbtype="System.Data.DbType.Int32" targetschematype="int" parameterpattern="[Name] [Type] [Direction]" patternprefixtype="i"/>
		<add name="smallint" targettype="System.Int32" nullabletoken="?" targetdbtype="System.Data.DbType.Int32" targetschematype="int" parameterpattern="[Name] [Type] [Direction]" patternprefixtype="i"/>
		<add name="int" targettype="System.Int32" nullabletoken="?" targetdbtype="System.Data.DbType.Int32" targetschematype="int" parameterpattern="[Name] [Type] [Direction]" patternprefixtype="i"/>
		<add name="numeric" targettype="System.Decimal" nullabletoken="?" targetdbtype="System.Data.DbType.Decimal" targetschematype="decimal" parameterpattern="[Name] [Type]([Precision],[Scale]) [Direction]" patternprefixtype="d"/>

		<add name="decimal" targettype="System.Decimal" nullabletoken="?" targetdbtype="System.Data.DbType.Decimal" targetschematype="decimal" parameterpattern="[Name] [Type] [Direction]" patternprefixtype="d"/>
		<add name="float" targettype="System.Double" nullabletoken="?" targetdbtype="System.Data.DbType.Double" targetschematype="float" parameterpattern="[Name] [Type] [Direction]" patternprefixtype="f"/>
		<add name="double" targettype="System.Double" nullabletoken="?" targetdbtype="System.Data.DbType.Double" targetschematype="dounble" parameterpattern="[Name] [Type] [Direction]" patternprefixtype="d"/>
		<add name="real" targettype="System.Double" nullabletoken="?" targetdbtype="System.Data.DbType.Double" targetschematype="double" parameterpattern="[Name] [Type] [Direction]" patternprefixtype="r"/>
		<add name="money" targettype="System.Double" nullabletoken="?" targetdbtype="System.Data.DbType.Double" targetschematype="double" parameterpattern="[Name] [Type] [Direction]" patternprefixtype="d"/>
		<add name="smallmoney" targettype="System.Double" nullabletoken="?" targetdbtype="System.Data.DbType.Double" targetschematype="double" parameterpattern="[Name] [Type] [Direction]" patternprefixtype="d"/>

		<add name="image" targettype="System.Byte[]" nullabletoken="" targetdbtype="System.Data.DbType.Binary" targetschematype="base64Binary" parameterpattern="[Name] [Type]([Length])" patternprefixtype="obj"/>
		<add name="binary" targettype="System.Byte[]" nullabletoken="" targetdbtype="System.Data.DbType.Binary" targetschematype="base64Binary" parameterpattern="[Name] [Type]([Length])" patternprefixtype="obj"/>
		<add name="varbinary" targettype="System.Byte[]" nullabletoken="" targetdbtype="System.Data.DbType.Binary" targetschematype="base64Binary" parameterpattern="[Name] [Type]([Length])" patternprefixtype="obj"/>


	</DBTypes>
  </DBTypesMapping>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
