<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FwkSqlTrace.Properties.Settings.GastosConnectionString"
            connectionString="Data Source=MOVIEDO\SQLEXPRESS;Initial Catalog=Gastos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>