<?xml version="1.0"?>
<configuration>
  
<configSections>
	<section name="FwkCypherProvider" type="Fwk.Security.Cryptography.Config.CypherProviderSection, Fwk.Bases"/>
    
</configSections>


  <FwkCypherProvider defaultProviderName="p1">
		<Providers>
			<add name="p1" type="file" source="j.k"/>
			<!--<add name="p2" type="file" source="key3.txt"  />-->
		</Providers>
	</FwkCypherProvider>
	

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
