<configuration>
	<configSections>
		<section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"/>
	    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	
	<connectionStrings>
		<add name="FwkSecurityConnectionString" connectionString="Data Source=CORRSF71DES01;Initial Catalog=BigBang;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<cachingConfiguration defaultCacheManager="x">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="CacheManager_Default"/>

			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="200" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="CacheManager_Products"/>

			<add expirationPollFrequencyInSeconds="10" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Isolated Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="x"/>

			<add expirationPollFrequencyInSeconds="120" maximumElementsInCacheBeforeScavenging="100" numberToRemoveWhenScavenging="20" backingStoreName="Isolated Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="CacheManager_Clients"/>
		</cacheManagers>

		<backingStores>
			<add partitionName="Clients" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, 
		   Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="Isolated Storage"/>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, 
		  Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="Null Storage"/>
		</backingStores>
	</cachingConfiguration>
	<system.web>
		<roleManager defaultProvider="secProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<add name="secProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="FwkSecurityConnectionString" applicationName="Bigbang"/>
			</providers>
		</roleManager>
		<membership defaultProvider="secProvider" userIsOnlineTimeWindow="15">
			<providers>
				<add name="secProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="FwkSecurityConnectionString" applicationName="Bigbang" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
			</providers>
		</membership>
	</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
