<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Fwk.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConfigurationApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Fwk.Configuration.Properties.Settings>
      <setting name="BaseConfigFile" serializeAs="String">
        <value />
      </setting>
      <setting name="RemotingConfigFile" serializeAs="String">
        <value />
      </setting>
      <setting name="IsLocal" serializeAs="String">
        <value>True</value>
      </setting>
    </Fwk.Configuration.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ConfigurationApp.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </ConfigurationApp.Properties.Settings>
  </userSettings>
</configuration>