<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
		<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
		<section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>
		<section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases"/>
	</configSections>
	
	<cachingConfiguration defaultCacheManager="ServiceCache">
		<cacheManagers>

			<add expirationPollFrequencyInSeconds="120" maximumElementsInCacheBeforeScavenging="2000" numberToRemoveWhenScavenging="20" backingStoreName="Isolated Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="ServiceCache"/>
		</cacheManagers>
		<backingStores>
			<add partitionName="appDatos" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Isolated Storage"/>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullStorage"/>
		</backingStores>

	</cachingConfiguration>
	
	<connectionStrings>		
		<add name="PelsoftConnectionString" connectionString="Server=CORRSF71DES01;Database=Pelsoft;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		<add name="BlockingModel" connectionString="Data Source=S1DESARROLLO22\SQLEXPRESS;Initial Catalog=FwkBlocking;Persist Security Info=True;User ID=sa;Password=as" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<!--Configuracion del los proveedores de  configuracion del framework -->
	<FwkConfigProvider defaultProviderName="local">
		<Providers>
			<add name="local" type="local" baseConfigFile="ConfigurationManager.xml"/>
		</Providers>
	</FwkConfigProvider>
	
	<!--Configuracion del logging del framework -->
	<FwkLogging>
		<Rules>
			<!--Events:
						
						2. Error
						3. Warning
						4. Information
				Targets
						1. File
						2. Xml
						3. Database
						4. WindowsEvent
					
			-->
			
			<add name="Rule2" events="Error" target="Xml" fileName="Logs.xml"/>
			<add name="Rule3" events="Warning" target="Xml" cnnStringName="" fileName="Logs.xml"/>
			<add name="Rule4" events="Information" target="WindowsEvent"/>
			
		</Rules>
	</FwkLogging>

	<!--Configuracion de la metadataq de los servisios-->
	<FwkServiceMetadata defaultProviderName="Pelsoft">
		<Providers>
			<add name="Pelsoft" type="xml" appid="" sourceinfo="ServiceMetadataConfig.xml"/>
			<add name="PelsoftSql" type="sqldatabase" appid="Pelsoft" sourceinfo="PelsoftConnectionString"/>
		</Providers>
	</FwkServiceMetadata>

	<!--Configuracion de los wrappers que usa el cliente-->
	<FwkWrapper defaultProviderName="Pelsoft">
		<Providers>
			<add name="Pelsoft" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" sourceinfo=""/>
		</Providers>
	</FwkWrapper>

	<system.web>
		<roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="PelsoftConnectionString" applicationName="Pelsoft"/>
			</providers>
		</roleManager>
		<membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
			<providers>
				<add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="PelsoftConnectionString" applicationName="Pelsoft" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
				<add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="PelsoftConnectionString" applicationName="Pelsoft" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
			</providers>			
		</membership>
	</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
