<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
		<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Fwk.Bases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="FwkServiceConfig" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=BPConfig;Persist Security Info=True;User ID=sa;Password=as"
	providerName="System.Data.SqlClient" />
    <add name="test" connectionString="Database=fwktest;Server=(local)\SQLEXPRESS;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<applicationSettings>

		<Fwk.Bases.Properties.Settings>
			<!--Tipo de del origen de datos de la mertadata los servicios -->
			<setting name="ServiceConfigurationManagerType" serializeAs="String">
				<value>Fwk.ServiceManagement.DatabaseServiceConfigurationManager, Fwk.Bases</value>
			</setting>
			<!--Metadata de los servicios -->
			<setting name="ServiceConfigurationSourceName" serializeAs="String">
				<value>test</value>
			</setting>
			<!--Tipo de Wrapper que se usa para llamar al dispatcher de servicios -->
			<setting name="Wrapper" serializeAs="String">
				<value>Fwk.Bases.Connector.LocalWrapper, Fwk.Bases.Connector</value>
			</setting>
			<setting name="WebServiceDispatcherUrl" serializeAs="String">
				<value>http://localhost/WebServiceDispatcher/SingleService.asmx</value>
			</setting>
		</Fwk.Bases.Properties.Settings>

	</applicationSettings>


	<cachingConfiguration defaultCacheManager="Cache">
		<cacheManagers>

			<add expirationPollFrequencyInSeconds="120"
				 maximumElementsInCacheBeforeScavenging="2000"
			  numberToRemoveWhenScavenging="20"
				 backingStoreName="Isolated Storage"
			  type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="Cache" />
		</cacheManagers>
		<backingStores>
			<add partitionName="appDatos"
				 encryptionProviderName=""
				 type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				name="Isolated Storage" />
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullStorage" />
		</backingStores>
	</cachingConfiguration>


	<FwkConfigProvider defaultProviderName="local">
		<Providers>
			<add name="local"  isLocal="True"  baseConfigFile="\\Corrsf71bi01\BigBang\ConfigurationManeger.xml" remotingConfigFile = "" lifeTime="0" />
		</Providers>
	</FwkConfigProvider>

	<FwkLogging>
		<Rules>
			<!--Events:

						2. Error
						3. Warning
						4. Information
				Targets
						1. File
						2. Xml
						3. Database
						4. WindowsEvent

			-->

			<add name="Rule2"  events="Error"  target="Xml"  fileName="Logs.xml" />
			<add name="Rule3"  events="Warning"  target="Xml"  cnnStringName="" fileName="Logs.xml"/>
			<add name="Rule4"  events="Information"  target="WindowsEvent" />

		</Rules>
	</FwkLogging>
</configuration>