<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
		<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
		<section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Fwk.Bases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="FwkServiceConfig" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=BPConfig;Persist Security Info=True;User ID=sa;Password=as"
	providerName="System.Data.SqlClient" />
	</connectionStrings>
	<applicationSettings>

		<Fwk.Bases.Properties.Settings>
		
			<!--Tipo de Wrapper que se usa para llamar al dispatcher de servicios -->
			<setting name="Wrapper" serializeAs="String">
				<value>Fwk.Bases.Connector.LocalWrapper, Fwk.Bases.Connector</value>
			</setting>
			<setting name="WebServiceDispatcherUrl" serializeAs="String">
				<value>http://localhost/WebServiceDispatcher/SingleService.asmx</value>
			</setting>
		</Fwk.Bases.Properties.Settings>

	</applicationSettings>
	
	<cachingConfiguration defaultCacheManager="Cache">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="120"
				 maximumElementsInCacheBeforeScavenging="2000"
			  numberToRemoveWhenScavenging="20"
				 backingStoreName="Isolated Storage"
			  type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
			  name="Cache" />
		</cacheManagers>
		<backingStores>
			<add partitionName="appDatos"
				 encryptionProviderName=""
				 type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
				name="Isolated Storage" />
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="NullStorage" />
		</backingStores>
	</cachingConfiguration>


	<FwkConfigProvider defaultProviderName="local">
		<Providers>
			<add name="local"  type="local"  baseConfigFile="\\Corrsf71bi01\BigBang\ConfigurationManeger.xml"  />
		</Providers>
	</FwkConfigProvider>
	<FwkServiceMetadata defaultProviderName="Fwk.Security.Xml">
		<Providers>
			<add name="Fwk.Security.Xml" type="xml" appid ="" sourceinfo="C:\Projects\x25\fwk\branches\3.1.0\src\Services\Fwk.Security.Service\metadata\ServiceMetadataConfig.xml" />
			<add name="Fwk.Security.Xml.Sql" type="sqldatabase" appid="" sourceinfo="test" />
		</Providers>
	</FwkServiceMetadata>
	<FwkLogging>
		<Rules>
			<add name="Rule2"  events="Error"  target="Xml"  fileName="Logs.xml" />
			<add name="Rule3"  events="Warning"  target="Xml"  cnnStringName="" fileName="Logs.xml"/>
			<add name="Rule4"  events="Information"  target="WindowsEvent" />
			
		</Rules>
	</FwkLogging>
</configuration>