<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>
    <dataConfiguration defaultDatabase="Database=Health;Server=.\sqlexpress;Integrated Security=SSPI&quot; providerName=&quot;System.Data.SqlClient" />
    <connectionStrings>
        <add name="Database=Health;Server=.\sqlexpress;Integrated Security=SSPI&quot; providerName=&quot;System.Data.SqlClient"
            connectionString="Database=Database;Server=(local)\SQLEXPRESS;Integrated Security=SSPI"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
