<?xml version="1.0"?>
<configuration>
	<configSections>
		
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
		<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
		<section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>
		<section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases"/>
		
	</configSections>


  <connectionStrings>
		
		<add name="test" connectionString="Database=fwktest;Server=.\SQLEXPRESS2008R2;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="MaxRecords" value="2147483647"/>
	
	</appSettings>


	<!--Configuracion del los proveedores de  configuracion del frameworck -->
	<FwkConfigProvider defaultProviderName="localFile">
		<Providers>
			
			<add name="localFile" type="local" baseConfigFile="ConfigurationManager.xml"/>
			<add name="database" type="sqldatabase" baseConfigFile="ConfigurationManager_BigBang" sourceinfo="BigBangConnectionString"/>
		</Providers>
	</FwkConfigProvider>
	<!--Configuracion del logging del frameworck -->
	<FwkLogging defaultProviderName="">
		<Providers>
			
			<add name="Rule2" target="Xml" fileName="Logs.xml"/>
			<add name="Rule3" target="Xml" cnnStringName="" fileName="Logs.xml"/>
			<add name="Rule4" target="WindowsEvent"/>
		</Providers>
	</FwkLogging>

	<!--Configuracion del metadata de servicios del frameworck -->
	<FwkServiceMetadata defaultProviderName="XML_test">
		<Providers>
			<add name="XML_test" type="xml" appid="" sourceinfo="..\..\..\..\..\SqlScripts\Fwk.Security\securityMetadata.xml" securityProviderName="sec_test_provider"/>
			<add name="Sql_test" type="sqldatabase" appid="" sourceinfo="test" securityProviderName="sec_test_provider"/>
		</Providers>
	</FwkServiceMetadata>

  <FwkWrapper defaultProviderName="test_local">
    <Providers>
      <add name="test_web" appId="fwk_tes" serviceMetadataProviderName="XML_test" type="Fwk.Bases.Connector.ASPNetSecurityWrapper,Fwk.Bases.Connector" sourceinfo="http://localhost:14538/ASPNet.asmx"/>
      <add name="test_local" appId="fwk_tes" serviceMetadataProviderName="XML_test" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" sourceinfo=""/>
    </Providers>
  </FwkWrapper>
	
	<system.web>
		<roleManager defaultProvider="sec_test_provider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<add name="sec_test_provider" type="System.Web.Security.SqlRoleProvider" connectionStringName="test" applicationName="fwk"/>
			</providers>
		</roleManager>
		<membership defaultProvider="sec_test_provider" userIsOnlineTimeWindow="15">
			<providers>
				<add name="sec_test_provider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="test" applicationName="fwk" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
			</providers>
		</membership>
	</system.web>
	
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
