<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases" />
  </configSections>
  <FwkWrapper defaultProviderName="p1">
    <Providers>
      <add name="p1" securityProviderName ="" type="Fwk.Bases.Connector.RemotingWrapper, Fwk.Bases.Connector"   sourceinfo="" />
    </Providers>
  </FwkWrapper>
</configuration>