<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral" >
      <section name="Fwk.ServiceManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral" requirePermission="false" />
    </sectionGroup>
  </configSections>

	<applicationSettings>
		<Fwk.Bases.Properties.Settings>
			<!--Tipo de del origen de datos de la mertadata los servicios -->
			<setting name="ServiceConfigurationManagerType" serializeAs="String">
				<value>Fwk.ServiceManagement.XmlServiceConfigurationManager, Fwk.Bases</value>
			</setting>
			
			<!--Tipo de Wrapper que se usa para llamar al dispatcher de servicios -->
			<setting name="Wrapper" serializeAs="String">
				<value>Fwk.Bases.Connector.LocalWrapper, Fwk.Bases.Connector</value>
			</setting>
		</Fwk.Bases.Properties.Settings>
	</applicationSettings>
</configuration>