<configuration>
  <configSections>
	  <section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases" />
	  <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral">
		<section name="Fwk.Blocking.BlockingService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="Fwk.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="false" />
    </sectionGroup>
  </configSections>
	<connectionStrings>
		<add name="BlockingModel" connectionString="Data Source=S1DESARROLLO22\SQLEXPRESS;Initial Catalog=FwkBlocking;Persist Security Info=True;User ID=sa;Password=as"
 providerName="System.Data.SqlClient" />
	</connectionStrings>
  <applicationSettings>
    <Fwk.Blocking.BlockingService.Properties.Settings>
      <setting name="Interval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="WaitForComplete" serializeAs="String">
        <value>5</value>
      </setting>
    </Fwk.Blocking.BlockingService.Properties.Settings>
	  
    
  </applicationSettings>
	<FwkConfigProvider defaultProviderName="P1">
		<Providers>
			<add name="P1" isLocal="True" baseConfigFile="\\10.200.1.68\Arquitectura\Compiled\ServiceConfigurationManeger.xml" remotingConfigFile="" lifeTime="0" />
		</Providers>
	</FwkConfigProvider>
	
	<FwkLogging>


		<Rules>
			<!--Events:
					
						2. Error
						3. Warning
						4. Information
				Targets
						1. File
						2. Xml
						3. Database
						4. WindowsEvent
				
			-->
		
			<add name="Rule2" events="Error" target="Xml" fileName="Logs.xml" />
			<add name="Rule3" events="Warning" target="Xml" cnnStringName="" fileName="Logs.xml" />
			<add name="Rule4" events="Information" target="WindowsEvent" />
			
		</Rules>
	</FwkLogging>
</configuration>