<configuration>
  <configSections>
	  
	  
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral">
		<section name="Fwk.Blocking.BlockingService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="Fwk.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="false" />
    </sectionGroup>
  </configSections>
	<connectionStrings>
		<add name="BlockingModel" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FwkBlocking;Persist Security Info=True;User ID=sa;Password=as"
 providerName="System.Data.SqlClient" />
	</connectionStrings>
  <applicationSettings>
    <Fwk.Blocking.BlockingService.Properties.Settings>
      <setting name="Interval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="WaitForComplete" serializeAs="String">
        <value>5</value>
      </setting>
    </Fwk.Blocking.BlockingService.Properties.Settings>
	  
    
  </applicationSettings>
	
	
	
</configuration>