<configuration>
	<configSections>
		<section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>

	</configSections>
	<securityConfiguration defaultAuthorizationInstance="RuleProvider_Fwk" defaultSecurityCacheInstance="ProveedorAlmacenCaching">
		<authorizationProviders>

			<add connectionStringName="FwkSecurityConnectionString" type="Fwk.Security.FwkAuthorizationRuleProvider, Fwk.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="RuleProvider_Fwk"/>
		</authorizationProviders>
	</securityConfiguration>
	<connectionStrings>
    <add name="FwkSecurityConnectionString" connectionString="Data Source=santana\SQLEXPRESS;Initial Catalog=BigBang;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Tesa" connectionString="Data Source=santana\SQLEXPRESS;Initial Catalog=BigBang;Integrated Security=True"/>
    <add name="Personal" connectionString="Data Source=santana\SQLEXPRESS;Initial Catalog=BigBang;Integrated Security=True" providerName="System.Data.SqlClient"/>

  </connectionStrings>
	<system.web>
		<roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="FwkSecurityConnectionString" applicationName="Bigbang"/>
			</providers>
		</roleManager>

		<membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="FwkSecurityConnectionString" applicationName="Bigbang" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
			</providers>
		</membership>
	</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
