<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<securityConfiguration defaultAuthorizationInstance="RuleProvider"
	  defaultSecurityCacheInstance="ProveedorAlmacenCaching">
		<authorizationProviders>
			<add type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="RuleProvider" />

		</authorizationProviders>
		<securityCacheProviders>
			<add cacheManagerInstanceName="XCache2" defaultSlidingSessionExpirationInMinutes="10"
			  defaultAbsoluteSessionExpirationInMinutes="60" type="Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore.CachingStoreProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="ProveedorAlmacenCaching" />
		</securityCacheProviders>
	</securityConfiguration>
	<connectionStrings>
		<add name="SqlServices" connectionString="Data Source=S1DESARROLLO22\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<cachingConfiguration defaultCacheManager="XCache2">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
			  numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
			  type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="XCache2" />
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="Null Storage" />
		</backingStores>
	</cachingConfiguration>
	<system.web>
		<roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SqlServices" applicationName="SecurityAppBlockSample" />
			</providers>
		</roleManager>
		<membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
			<providers>
				<add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlServices" applicationName="MyApplication" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" />
			</providers>
		</membership>
		<profile defaultProvider="SqlProvider">
			<providers>
				<clear />
				<add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SqlServices" applicationName="SecurityAppBlockSample" description="SqlProfileProvider for SampleApplication" />
			</providers>
			<properties>
				<add name="FirstName" type="System.String" />
				<add name="LastName" type="System.String" />
				<add name="Theme" type="SecurityQuickStart.ProfileTheme, SecurityQuickStart" />
			</properties>
		</profile>
	</system.web>
</configuration>