<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"/>
	 <section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
	 <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
	 <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>
    
	  
  </configSections>
	
  <connectionStrings>
    <add name="BPConfig" connectionString="Initial Catalog = DataBase;Data Source=hosr;User ID= sa ;Password= as.." providerName="System.Data.SqlClient"/>
	  <add name="BlockingModel" connectionString="Data Source=S1DESARROLLO22\SQLEXPRESS;Initial Catalog=FwkBlocking;Persist Security Info=True;User ID=sa;Password=as" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <!--Nombre logico del dispatcher con el que se lo registro  en la bd: Se utiliza solo si hay un registro de instancias en bd-->
    <add key="ServiceDispatcherName" value="Fwk_Disp_Test"/>
    <!--Cadena de coneccion donde se encuentran las configuraciones del dispatcher: Necesario cuando se utiliza ServiceDispatcherName y la info del dispatcher esta en BD-->
    <add key="ServiceDispatcherConnection" value="fwk_dispatcher"/>
    <!--Nombre del dispatcher como instancia de servicio fisico : puede o no coincidir con ServiceDispatcherName-->
    <add key="HostApplicationName" value="Health soft service"/>
	 
  </appSettings>

	<!--Configuracion del los proveedores de  configuracion del frameworck -->
	<FwkConfigProvider defaultProviderName="local">
		<Providers>
			<add name="local" type="local" baseConfigFile="ConfigurationManeger.xml"/>
		</Providers>
	</FwkConfigProvider>
	<!--Configuracion del logging del frameworck -->
  <FwkLogging defaultProviderName="">
    <Providers>
      <add name="P1" events="Error,Information,Warning" target="WindowsEvent"/>
      <add name="P2" events="Debug" target="Xml" fileName="Logs.xml"/>
    </Providers>
  </FwkLogging>
  <FwkConfigProvider defaultProviderName="P3">
    <Providers>
      <add name="P1" type="local" baseConfigFile="ConfigurationManager.xml"/>
      <add name="P2" type="servicewrapper" sourceinfo="wrappername"/>
      <add name="P3" type="sqldatabase" sourceinfo="LogsDB"/>
    </Providers>
  </FwkConfigProvider>
	<FwkServiceMetadata defaultProviderName="Xml">
		<Providers>
			<add name="Xml" type="xml" appid="" sourceinfo="ServiceMetadataConfig.xml" securityProviderName=""/>
			<add name="Sql" type="sqldatabase" appid="" sourceinfo="BPConfig"/>
		</Providers>
	</FwkServiceMetadata>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
