<?xml version="1.0"?>

<configuration >
  
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"/>
	<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
	<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
	 <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
		<section name="Fwk.Bases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="false" />
    </sectionGroup>
	  
  </configSections>
	
  <connectionStrings>
    <add name="BPConfig" connectionString="Initial Catalog = DataBase;Data Source=hosr;User ID= sa ;Password= as.."
      providerName="System.Data.SqlClient" />
	  <add name="BlockingModel" connectionString="Data Source=S1DESARROLLO22\SQLEXPRESS;Initial Catalog=FwkBlocking;Persist Security Info=True;User ID=sa;Password=as"
	providerName="System.Data.SqlClient" />
  </connectionStrings>

	<applicationSettings>
		<Fwk.Bases.Properties.Settings>
	
			<!--Tipo de Wrapper que se usa para llamar al dispatcher de servicios -->
			<setting name="Wrapper" serializeAs="String">
				<value>Fwk.Bases.Connector.LocalWrapper, Fwk.Bases.Connector</value>
			</setting>
		</Fwk.Bases.Properties.Settings>
	</applicationSettings>

	<!--Configuracion del los proveedores de  configuracion del frameworck -->
	<FwkConfigProvider defaultProviderName="local">
		<Providers>
			<add name="local"  type="local"  baseConfigFile="ConfigurationManeger.xml"  />
		</Providers>
	</FwkConfigProvider>
	<!--Configuracion del logging del frameworck -->
	<FwkLogging>
		<Rules>
			<!--Events:
						2. Error
						3. Warning
						4. Information
				Targets
						1. File
						2. Xml
						3. Database
						4. WindowsEvent
						
			-->
			<add name="Rule2"  events="Error"  target="Xml"  fileName="Logs.xml" />
			<add name="Rule3"  events="Warning"  target="Xml"  cnnStringName="" fileName="Logs.xml"/>
			<add name="Rule4"  events="Information"  target="WindowsEvent" />
			
		</Rules>
	</FwkLogging>
	
	<FwkServiceMetadata defaultProviderName="Xml">
		<Providers>
			<add name="Xml" type="xml" appid ="" sourceinfo="ServiceMetadataConfig.xml" />
			<add name="Sql" type="sqldatabase" appid="" sourceinfo="BPConfig" />
		</Providers>
	</FwkServiceMetadata>
</configuration>