<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fwk.Security.Properties.Settings.ConnectionString"
            connectionString="Data Source=PELSOFT\SQLEXPRESS;Initial Catalog=bigbang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Fwk.Security.Properties.Settings.aspnetdbConnectionString"
            connectionString="Data Source=MOVIEDO\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Fwk.Security.Properties.Settings.GestionCuentas_LogsConnectionString"
            connectionString="Data Source=corrsf71des01;Initial Catalog=GestionCuentas_Logs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Fwk.Security.Properties.Settings.bigbangConnectionString"
            connectionString="Data Source=PELSOFT\SQLEXPRESS;Initial Catalog=bigbang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Fwk.Security.Properties.Settings.HealthConnectionString"
            connectionString="Data Source=SANTANA\SQLEXPRESS;Initial Catalog=Health;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
