<configuration>
	<configSections>
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
	</configSections>


	<FwkLogging defaultProviderName="p1">
    <Providers >
			<add name="p1"  target="WindowsEvent"/>
			<add name="p2" target="Xml" fileName="Log.xml"/>
			<add name="p3"  target="WindowsEvent"/>
		</Providers>
	</FwkLogging>
</configuration>
