<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>

		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral" >
			<section name="Fwk.Bases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=3.0.0.0, Culture=neutral" requirePermission="false" />
		</sectionGroup>
	</configSections>

	

	<connectionStrings>
		<add name="FwkServiceConfig" providerName="System.Data.SqlClient" connectionString="Data Source=PCPDES008;Initial Catalog=BPConfig;User ID=SA;Password="/>
	</connectionStrings>

	<applicationSettings>

		<Fwk.Bases.Properties.Settings>
			<setting name="Wrapper" serializeAs="String">
				<value>Fwk.FrontEnd.ServiceIntefaceWrappers.LocalWrapper, Fwk.FrontEnd.ServiceIntefaceWrappers</value>
			</setting>
			<setting name="DispatcherRemotingConfigFilePath" serializeAs="String">
				<value>RemotingConfigFile.config</value>
			</setting>
			<setting name="WebServiceDispatcherUrl" serializeAs="String">
				<value>http://localhost/WebServiceDispatcher/SingleService.asmx</value>
			</setting>
			<setting name="Fwk_Configuration_ConfigurationWebService_ConfigurationService"
				serializeAs="String">
				<value />
			</setting>
			<setting name="ServiceConfigurationManagerType" serializeAs="String">
				<value>Fwk.ServiceManagement.XmlServiceConfigurationManager, Fwk.Bases</value>
			</setting>
			<setting name="ServiceConfigurationSourceName" serializeAs="String">
				<value>ServiceMetadataConfig.xml</value>
			</setting>
		</Fwk.Bases.Properties.Settings>
	</applicationSettings>

</configuration>