<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>



	<connectionStrings>
		<!--CORRSF71DES01 = 172.22.13.150 -->
		<add name="ActiveDirectory_" connectionString="Data Source=CORRSF71DES01;Initial Catalog=BB_Desarrollo_1_6_0;Persist Security Info = False;Trusted_Connection=Yes" providerName="System.Data.SqlClient"/>
		<add name="ActiveDirectory" connectionString="Data Source=172.22.13.150;Initial Catalog=BB_Desarrollo_1_6_0;Persist Security Info = True;User ID=user_BB_des160;Password=88_Des01_160_Jul222011" providerName="System.Data.SqlClient"/>
		<add name="connectionStringSec" connectionString="Data Source=corrsf71nt09;Initial Catalog=BigBang;Persist Security Info = True;User ID=BigBang;Password=B1gB4ng+01" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	<appSettings>
		<!--performWindowsContextImpersonalization on HD Helper-->
		<add key="FwkImpersonate" value="false"/>
	</appSettings>

  
  <system.web>
    
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->

	  <authentication mode="Windows"  />

	  
        <customErrors mode="Off" >
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>



	  <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <roleManager defaultProvider="sec" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="true" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="sec" type="System.Web.Security.SqlRoleProvider"
        connectionStringName="connectionStringSec"
        applicationName="fwk"/>

      </providers>


    </roleManager>
    <membership>
      <providers>
        <add name="sec" type="System.Web.Security.SqlMembershipProvider, ..."
        connectionStringName="connectionStringSec"
        enablePasswordRetrieval="false"
        enablePasswordReset="true" requiresQuestionAndAnswer="true"
        applicationName="fwk"
        requiresUniqueEmail="false"
        passwordFormat="Hashed" maxInvalidPasswordAttempts="5"
        minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1"
        passwordAttemptWindow="10" 	   passwordStrengthRegularExpression=""/>


      </providers>
    </membership>
  </system.web>


</configuration>