<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases" />
  </configSections>

  <appSettings/>
  <connectionStrings>
    <add name="connectionStringSec" connectionString="Data Source=.\SQLEXPRESS2008R2;Initial Catalog=fwktest;Persist Security Info = False;Trusted_Connection=Yes" providerName="System.Data.SqlClient"/>
    <add name="sec3" connectionString="Data Source=.\SQLEXPRESS2008R2;Initial Catalog=fwktest;Persist Security Info = True;User ID=sa;Password=as" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <!--
       Proveedor para ubicar los servicios ASPNet de Fwk
   -->
  <FwkServiceMetadata defaultProviderName="sec">
    <Providers>
      <add name="sec" type="xml" appid =""  sourceinfo="D:\Projects\fwk\trunk\src\FrameworkTools\SecurityAppBlock\Fwk.CentralizedSecurity\ServiceMetadataConfig.xml" securityProviderName="sec" />
    </Providers>
  </FwkServiceMetadata>
  
  <system.web>
    
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    
        <customErrors mode="On" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
 
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <roleManager defaultProvider="sec" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="true" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="sec" type="System.Web.Security.SqlRoleProvider"
        connectionStringName="connectionStringSec"
        applicationName="fwk"/>

      </providers>


    </roleManager>
    <membership>
      <providers>
        <add name="sec" type="System.Web.Security.SqlMembershipProvider, ..."
        connectionStringName="connectionStringSec"
        enablePasswordRetrieval="false"
        enablePasswordReset="true" requiresQuestionAndAnswer="true"
        applicationName="fwk"
        requiresUniqueEmail="false"
        passwordFormat="Hashed" maxInvalidPasswordAttempts="5"
        minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1"
        passwordAttemptWindow="10" 	   passwordStrengthRegularExpression=""/>


      </providers>
    </membership>
  </system.web>


</configuration>