<!-- edited with XMLSpy v2007 (http://www.altova.com) by pepe (pelsoft) -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
  </configSections>

  <connectionStrings>
    <add name="pelsofthealth" connectionString="Database=Clinica1;Server=.\sqlexpress;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="FwkSecurityConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=clinica1;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CELAM" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=celam;Integrated Security=True" providerName="System.Data.SqlClient"/>
    
    <add name="Personal" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    
    <add name="PelsoftGastos_my" connectionString="Database=Gastos_my;Server=.\sqlexpress;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="dotnetnuke_5" connectionString="Database=DNN2;Server=.\sqlexpress;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <roleManager defaultProvider="clinica" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="gastos" type="System.Web.Security.SqlRoleProvider" connectionStringName="PelsoftGastos_my" applicationName="PelsoftGastos"/>
        <add name="gastos_my" type="System.Web.Security.SqlRoleProvider" connectionStringName="PelsoftGastos_my" applicationName="PelsoftGastos"/>
        <add name="pelsofthealth" type="System.Web.Security.SqlRoleProvider" connectionStringName="pelsofthealth" applicationName="pelsofthealth"/>
        <add name="CELAM" type="System.Web.Security.SqlRoleProvider" connectionStringName="CELAM" applicationName="celam"/>
      </providers>
    </roleManager>
    <membership defaultProvider="pelsofthealth" userIsOnlineTimeWindow="15">
      <providers>
        <add name="pelsofthealth" applicationName="pelsofthealth" type="System.Web.Security.SqlMembershipProvider" connectionStringName="pelsofthealth" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
        <add name="gastos" applicationName="PelsoftGastos" type="System.Web.Security.SqlMembershipProvider" connectionStringName="PelsoftGastos_my" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
        <add name="gastos_my" applicationName="PelsoftGastos" type="System.Web.Security.SqlMembershipProvider" connectionStringName="PelsoftGastos_my" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
        
        <add name="CELAM" applicationName="celam" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CELAM" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
        <add name="dnn_5" applicationName="dotnetnuke" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dotnetnuke_5" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
  </system.web>
</configuration>
