
	<configuration>
		<configSections>
      <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
		</configSections>

		<connectionStrings>
			<add name="FwkSecurityConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BigBang;Integrated Security=True" providerName="System.Data.SqlClient"/>
			<add name="telecom" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=bigbang;Persist Security Info = True;User ID=BigBang;Password=B1gB4ng+01" providerName="System.Data.SqlClient" />
      <add name="Tesa" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=bigbang;Persist Security Info = True;Integrated Security=True" providerName="System.Data.SqlClient" />
			<add name="Personal" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient" />
      <add name="sec" connectionString="Data Source=localhost;AttachDbFilename=D:\Projects\sfimplementations\Muni\trunk\Maria\Maria\App_Data\ASPNETDB.MDF;Integrated Security=True;User Instance=False"
       providerName="System.Data.SqlClient"/>
      <add name="PelsoftGastos" connectionString="Database=Gastos;Server=.\sqlexpress;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		</connectionStrings>
		<system.web>
		<roleManager defaultProvider="bigbang" 
					 enabled="true" cacheRolesInCookie="true" 
					 cookieName=".ASPROLES" 
					 cookieTimeout="30" 
					 cookiePath="/" 
					 cookieRequireSSL="false" 
					 cookieSlidingExpiration="true"
					 cookieProtection="All">
			<providers>
        
				<add name="bigbang" type="System.Web.Security.SqlRoleProvider" 
					 connectionStringName="FwkSecurityConnectionString" 
					 applicationName="Bigbang"/>
        <add name="gastos" type="System.Web.Security.SqlRoleProvider"
					 connectionStringName="PelsoftGastos"
					 applicationName="PelsoftGastos"/>
        <add name="tesa" type="System.Web.Security.SqlRoleProvider"
         connectionStringName="Tesa"
         applicationName="bigbang"/>
        <add connectionStringName="sec" applicationName="muni" name="sec"
             type="System.Web.Security.SqlRoleProvider" />
        
			</providers>
		</roleManager>
		
		<membership defaultProvider="bigbang" userIsOnlineTimeWindow="15">
				<providers>
          <add connectionStringName="sec" applicationName="muni" enablePasswordRetrieval="false"
             enablePasswordReset="true" requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3"
             minRequiredNonalphanumericCharacters="0" name="sec" type="System.Web.Security.SqlMembershipProvider" />
					<add name="bigbang" 
               applicationName="Bigbang" 
               type="System.Web.Security.SqlMembershipProvider"
						 connectionStringName="FwkSecurityConnectionString" 
						enablePasswordRetrieval="false" 
						 enablePasswordReset="true" requiresQuestionAndAnswer="false"
						 requiresUniqueEmail="false" passwordFormat="Hashed" 
						 minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>

          <add name="gastos"
               applicationName="PelsoftGastos"
               type="System.Web.Security.SqlMembershipProvider"
						 connectionStringName="PelsoftGastos"
						enablePasswordRetrieval="false"
						 enablePasswordReset="true" requiresQuestionAndAnswer="false"
						 requiresUniqueEmail="false" passwordFormat="Hashed"
						 minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
          <add name="tesa"
              applicationName="Bigbang"
              type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="Tesa"
           enablePasswordRetrieval="false"
            enablePasswordReset="true" requiresQuestionAndAnswer="false"
            requiresUniqueEmail="false" passwordFormat="Hashed"
            minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>

        </providers>
     
			</membership>
	</system.web>
	</configuration>
