<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="testActiveDirectory"
        connectionString="Data Source=santana\sqlexpress;Initial Catalog=bigbang;Integrated Security=True"
        providerName="System.Data.SqlClient" />
   
  </connectionStrings>
</configuration>