<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
	</configSections>
	
	


	

	

	<FwkLogging>
		<Rules>
			<!--Events:

						2. Error
						3. Warning
						4. Information
				Targets
						1. File
						2. Xml
						3. Database
						4. WindowsEvent
	
			-->
			<add name="Rule1" events="Error" target="File" fileName="Logs.log"/>

		</Rules>
	</FwkLogging>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
