
/*	//////////////////////////////////////////////////////////////////////////////////
	//	TITULOS
	//////////////////////////////////////////////////////////////////////////////////
*/
h1,h2,h3,h4,h5,h6,h7{text-decoration: none;font-weight: bold;margin: 0px;padding-top: 8px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;}
h1
{
	color: #333333;
	font-size: 23px;
	line-height: 30px;
}
h2 {color: #333333;font-size: 19px;line-height:20px}
h3 {color: #585858;font-size: 19px;line-height:20px}
h4 {color: #333333;font-size: 16px;line-height:25px}
h5 {color: #585858;font-size: 16px;line-height:25px}


hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
a:focus{outline:1px dotted}
ol{list-style:decimal}ul{list-style:disc}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}

#master_footer{padding: 0px;margin-top: 10px;  height: 4em;width:90%;    margin-left:auto;    margin-right:auto;    text-align: left;    vertical-align: middle;}
#master_footerLine{border-bottom: 1px solid #B3B3B3;    font-size: 1px;height: 8px;}
#master_footerContainerLeft{float:left;color:#808080}
#master_footerContainerRight{float:right;}
#master_wrap{background-color:White;  margin-top:10px;}
.MsoNormal{font-size : 11px;}
.ttl {float: left; margin-top: 5px;}


/*-------------------------------------------------Contenedores de col izquierda-----------------------*/
/*------------------------------------------------ standars Wraper primero --------------------------*/
 .left_box_st
 {
    width: 210px;
    border-style: solid;
    border-width: 0 1px 1px;
    background-repeat: repeat;
    background-attachment: scroll;
    font-family: Verdana;
    margin-top:8px;
}
.left_box_panel_st{ padding : 0px;margin: 0px; height: 100%;}

/*---------CABEZERA DEL PANEL*/
.left_box_panel_title_st{height:30px;padding :5px;margin:0 ; font-weight:bold;font-family:Verdana;font-size: 13px;}
.left_box_panel_title_st img{margin:5px 0 0 0;float:left;}
.left_box_panel_title_st_span{  margin-top: 15px;margin-left:5px;}
.left_box_panel_list_st {margin-top:8px;padding:4px;}
.left_box_panel_list_st ul{list-style-type:none;}
.left_box_panel_list_st li
{
    background-position: 0px 4px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: Transparent;
    background: url('../../img/viñeta_row.png') no-repeat ;
    padding: 0px 0px 0px 8px;

}
/*************************LEFT BOX BROWN  */
.left_box_brown{border-color: #666666;}
.left_box_panel_brown{background-color: #462C2D;}
.left_box_panel_title_brown
{
    background-color: #4F120E;
    color: #D7C14A;
    padding: inherit;
    margin: inherit;
}

.left_box_panel_list_brown a
{
    text-decoration: none;
    color: #DADADA;
    font-size: 11px;
    font-family:inherit;
    margin-left:15px;
}
.left_box_panel_list_brown  a:hover{color: White;}

/*************************LEFT BOX WHITE  */

.left_box_white{border-color: #FFFFFF;}
.left_box_panel_white{background-color: White;}
.left_box_panel_title_white
{
    background-color: #CCCCCC;
    color: #333300;
    padding: inherit;
    margin: inherit;
}
.left_box_panel_list_white li
{
    background: no-repeat 0px 4px;
    background-position: 0px 4px;
    margin: 0 0 8px 0px;
    padding: 2px 0px 0px 0px;
}
.left_box_panel_list_white a
{
    text-decoration: none;
    color: #336699;
    font-size: 11px;
    font-family:inherit;
    margin-left:4px;
}
.left_box_panel_list_white a:hover{color: #0000CC;}
/*************************LEFT BOX Grey  */
.left_box_grey {border-color: #666666;}
.left_box_panel_grey{ background-color: #E8E8E6;}
.left_box_panel_title_grey
{
    background-color: #999999;
    color: #336699;
    padding: inherit;
    margin: inherit;
}
.left_box_panel_list_grey  a
{
    text-decoration: none;
    color: #102127;
    font-size: 11px;
    font-family:inherit;
    margin-left:15px;
}
.left_box_panel_list_grey   a:hover{color: #669999;}

/************************************CONTENEDOR DE LISTA DE LINCKS PAGINA CENTRAL**************************************/
.center_box{width:600px;}

.center_box_ttl
    {
        background: url('../img/fondo_cont_box.gif') repeat-x scroll center top transparent;
            border: 1px solid #D2D8DF;
            height: 25px;
            width: auto;
    }
.center_box_ttl_lft
    {
         color: #000000;

        font-size: 12px;
        font-weight: bold;
    }
.center_box_ttl_rgh
    {
        color: #92A4B4;
      
        font-size: 12px;
        font-weight: bold;
    }
.center_box_ttl img {
    float: left;
    height: 25px;
    margin-left: 2px;
    margin-right: 3px;
    width: 20px;
}
.center_box_linklist_wrap {
    border: 1px solid #D2D8DF;
    /*height: 240px;*/
    margin-top: 1px;
    padding: 10px;
    width: auto;
}

.center_box_linklist_div{float: left; width: 548px;}
.center_box_linklist_wrap ul li{
   
    list-style: none outside none;
    padding: 0;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 7px;
	color: #006699;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

.center_box_linklist_wrap a 
{
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #0066CC;
    font-weight: normal;
    text-decoration: none;
}
.center_box_linklist_wrap a:hover{color: #336699;}
/************************************CONTENEDOR IMAGEN**************************************/
.img_box {padding: 4px; margin:5px;}

/************************************logging control**************************************/


.logingcontrol
{
	
		line-height: 15px;
	background-color: #F7F7DE;
	border-color: #CCCC99;
	border-style: solid;
	border-width: 1px;
	
	font-size: 15px;
	width: 90%;
	 padding:10px;
	/*margin-bottom:20px;
	margin-top:20px;
	margin-left:40px;*/
	margin:40px
	
}
.logingcontrol_tbody{	border-collapse:collapse; height: 200px; width: 498px;		}
.login_check{margin:20px;             }
.login_check label
{
    margin-left: 10px;
    margin-top: 20px;
    color: #800000;
}
.loging_label{	margin:10px;}
.loging_tittle{	margin-top :10px;	color: #585858;    font-size: 19px;    font-weight: bold;    line-height: 20px;      padding: 8px 0 5px;  }
.logind_button{margin-top:15px ; height:25px}

.nav-link
{color: #006699;
    outline: medium none;
    text-decoration: none;
    font-size:medium;
	}
.loging_textbox
{
	border: 1PX groove #333333;
	margin: 0px;
	padding: 3px;
	font-weight: bolder;
	color: #333333;
	font-size: 14px;
	line-height: 20px;
	margin-left:6px;
}
.loging_textbox a:hover
{
	border: 2PX groove #336699;
}

.progress-container {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 18px;
    overflow: hidden;
    padding-bottom: 6px;
}
.progress-container p.progress {
    float: right;
    margin-top: 1px;
    width: 22%;
}.progress-container .summary {
    float: left;
    font-size: 130%;
}
/*****************ARTICLES**************************/

.article_wrap{margin-left :6PX;}
.article_wrap p	{margin-top:10px;margin-left:10px;}
.article_ullet_1
{ margin:1em 0; 
	list-style-image: url('/img/vineta_cuad.png');
	list-style-position: inside;
	margin-left: 10px;
	margin-bottom: 6px;
}
.article_ullet_1 li{margin-top:10px;}
.article_ullet_1 p{	margin-left:10px;	margin-top:10px;}
.article_ullet_2{
		list-style-image: url('/img/bulletgreen01.png');
	list-style-position: inside;
	margin-left:10px;
	margin-bottom:6px;
}
.article_ullet_2 li{margin-top:10px;}
.article_ullet_2 p{	margin-left:10px;margin-top:10px;}

/*****************Forms labels title textbox**************************/
.frm_title{margin: 10px;line-height:1px;padding: 8px 0 5px;}
.frm_title_1
{
	color: #585858;
    border-bottom: 1px solid #DEDEDE;
    font-size: 36px;
    margin-bottom: 16px;
    padding-bottom: 8px;
    height:30px;
} 
.frm_title_2
{
	color: #585858;
    border-bottom: 1px solid #DEDEDE;
    font-size: 26px;
    margin-bottom: 16px;
    padding-bottom: 8px;
    height:30px;
}
.frm_title_3
{
	color: #585858;
    border-bottom: 1px solid #DEDEDE;
    font-size: 20px;
    margin-bottom: 16px;
    padding-bottom: 8px;
    height:30px;
}
.frm_sub_title_1{	color: #585858;    font-size: 16px;    font-weight:bold;    margin-bottom: 16px;    padding-bottom: 8px;}
.frm_sub_title_2{	color: #585858;    font-size: 14px;    font-weight:bold;    margin-bottom: 16px;    padding-bottom: 8px;}
.frm_tab_header{	color: #585858;    font-size: 16px;}

.frm_container_border{	margin-top :20px;margin-right :5px;	border: 1px solid #CCCCCC;	padding:5px;}
.frm_container_border p
{
	 height :2em;
	}
.frm_group{height: auto; text-align: left;}
.frm_group_buttons{	background-color: #CCCCCC;	margin:5px; height: 35px; }
.frm_row{	margin-top : 3px;	margin-bottom : 5px;	height:30PX;	}
.frm_group td{	width : 180;	}

.frm_label{	float: left;    padding-top: 1px;    text-align: right;    font-weight:normal;}
.frm_label_1 
{
	height: 20px;
	margin-bottom: 3px;
	margin-top: 3px;
	font-size: 14px;
}
.frm_label_2
{
	height: 20px;
	margin-bottom: 3px;
	margin-top: 3px;
	font-size: 15px;
	font-weight:bold;
}
.frm_fieldvalue
{
	font-size: 15px;
	font-weight: normal;
	color: #333333;
	line-height: 20px;
	margin-left:6px;
	border-radius: 5px 5px 5px 5px;

}
input:focus, textarea:focus {
    background-color: #FBEFD0;
    border-color:#0080C0;
    border-width:3px;
}
.frm_fieldvalue_focus{	border:1px solid #CC9900;}
.frm-message
{
	border-radius: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 1px;
	margin: 10px 0 5px;
	padding: 8px 10px 8px 34px;
}
.frm-message a{cursor: pointer;}
.frm-message focus{	color: #3366FF;}


.frm-message focus{	color: #3366FF;}
.frm-error-message
{
	border: 1px solid #336699;
	border-radius: 3px 3px 3px 3px;
	margin: 10px 0 5px;
	padding: 8px 10px 8px 34px;
	color: #CC3300;
	background-color: #FFEFBB;
}

.frm_bullets,.frm_bullets2,.frm_bullets3{ 
	border: 0px solid #D2D8DF;
    margin-top: 1px;
    padding-left:8px;
    margin-left: 5px;
    padding: 10px;
    width: auto;
   
}

.frm_bullets,.frm_bullets2,.frm_bullets3 ul 
{
	padding-left: 0; /*Limpieza de márgenes (se puede cambiar)*/
	list-style: none;
    padding: 0;
    line-height: 2em;
	color: #006699;
	margin-left: 10px;
	margin-bottom: 7px;
	margin-right: 0;
	margin-top: 0;
	font-size: 10px;
}

.frm_bullets,.frm_bullets2,.frm_bullets3 li {
	margin-bottom: 10px;
	padding-left: 5px;
}
.frm_bullets li{list-style: url('../img/vineta_cuad.png');	list-style-type: square;}

.frm_bullets li a
{
	text-decoration: none;
	list-style: none;
	font-size: 11px;
	color: #002C40;
}

.frm_bullets3{margin-bottom: 5px;	padding-left: 5px;	}

.frm_bullets3 ul {color:#666666;font-size: 10px;}

.frm_bullets_a{ 
    margin-top: 1px;
    padding-left:8px;
    margin-left: 5px;
    padding: 10px;
    width: auto;
}

.frm_bullets_a ul 
{
	padding-left: 0; /*Limpieza de márgenes (se puede cambiar)*/
	list-style: none;
    padding: 0;
	color: #2C3032;
	margin-left: 25px;
	margin-bottom: 7px;
	margin-right: 0;
	margin-top: 0;

}

.frm_bullets_a li 
{
	
	list-style-type:disc;
	margin-bottom: 10px;
	padding-left: 5px;font-size: 12px;
}
.frm_bullets3 li a
{
	text-decoration: none;
	list-style: none;
	font-size: 11px;
	color: #002C40;
}
.frm_ast {color: #FF3300;}
.ch-information,.ch-addAdministrator{ background-color: #E5EBFD;background-position: -136px -33px;border-color: #A0B1DE;}
.ch-information		 {background: url('../img/Information_24.png')  no-repeat scroll 0 0 transparent;}
.ch-addAdministrator {background: url('../img/administrator_add_32.png')  no-repeat scroll 0 0 transparent;}


.btGrisNegrita{background-color: #666666;color: #FFFFFF;font-size: 16px;border:1px solid #333333;height: 25px; background-image: -moz-linear-gradient(#494949, #1F1F1F);
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}.btGrisNegrita: c{background-color: #333333;color: #FFFF66;}


/*Panel estatico del collapsed*/	
.cpHeaderStatic
{
    color: #336699;
    background-color: #FFFFFF;
 
    font-size: 14px;
    cursor: pointer;
    width: 450px;
    height: 18px;
    padding: 4px;
}

/*Panel colapsable del collapsed*/	
.cpHeaderExpand
{
	color: #333333;
	background-color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	width: 450px;
	height: 18px;
	padding: 4px;
	margin-top: 20px;
}

/*Panel cuerpo del collapsed*/	
 .cpBody
{
    background-color: #FFFFFF;
	font-size:14px;
    border: 1px gray;
    width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    color: #003366;
}   

.frm_findcontrol
{
	font-weight: bold;
	color: #666666;
}
.frm_findcontrol_input
{
	height:25px;
	width : 300px
	
}
	.frm_findcontrol_image
{
	/*border-style: none;*/
	vertical-align: middle;
	background: url('../../img/magnifier.png') no-repeat scroll center center;
	height: 29px;
	padding: 1px;
	width: 30px;
}


 


