
/** MENU HORIZONTAL **/
#menuh {margin-top: 3px;}

#menuh ul, li {list-style-type: none;font-size:15px;}
#menuh ul
{
	margin: 0;
	padding: 0;
	height: 31px;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #666666;
	margin-top: 7px;
}
#menuh li {float: left; margin :5px}
#menuh a
{
    border: 1px solid #666666;
    background-position: left;
    text-decoration: none;
    color: #CCCCCC;
    background: #333333;
    display: block;
    padding: 4px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(PIE.htc);
       
}   


#menuh a:hover
{
	 background: #333333;
	cursor: pointer;
    border-color: #CCCCCC;
     color: #FFFFFF;
}
/** MENU VERTICAL **/
.menuv
{
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px 1px 0 1px;
	width: 90%;
	margin-top: 3px;
	
}
.menuv ul, li {list-style-type: none;}
.menuv ul {margin: 0;padding: 0;}
.menuv li{border-bottom-style: none;margin-left:10px;}

.menuv a
{
	color: #D66A2F;
	background-position: #FFFFFF;
	background-color: Transparent;
	margin: 0;
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	display: block;
	padding: 3px;
	width: 100%;
	text-align: left;
}
.menuv a:hover
{
    background-position: #808080;
    background: #808080;
    color: #FFFFFF;
    cursor: pointer;
}

.menuv_header_1
{
    background-color: #333333;
    margin-left: 2px; margin-top:6px;
    height: 23px;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
  
}

.menuv_header_1 p
{  
     margin-left: 8px;
    padding: 5px;
    color: #CCCCCC;
    font-weight: bold;
    font-size: 14px;
}
  
 .menuv_header_2
 {
    height: 20px;
    color: #003300;
    background-color: Transparent;
    margin-top:10px;
    margin-left:6px;
     padding: 2px;
    font-size: 13px;
    font-weight: bold;
   
 }
.sub_menu
{margin-top:10px;
	}
.sub_menu a
{font-weight:bold
	}
/**	EXPERIMENTAL MENU**//* menu */ 
#menu{ margin:0px; padding:0px; list-style:none; color:#fff; line-height:45px; display:inline-block;float:left; z-index:1000;  font-size: 14px;} 
#menu a { color:#fff; text-decoration:none; } 
#menu > li {background:#172322 none repeat scroll 0 0; cursor:pointer; float:left; position:relative;     padding:0px 10px;} 
#menu > li a:hover {color:#B0D730;} 
#menu .logo {padding:0px;   } 
/* sub-menus*/ 
#menu ul { padding:0px; margin:0px; display:block; display:inline;} 
#menu li ul
{
	position: absolute;
	left: -10px;
	top: 0px;
	margin-top: 45px;
	width: 150px;
	line-height: 16px;
	background-color: #172322;
	color: #D66A2F; /* for IE */
	display: none;
} 
#menu li:hover ul { display:block;} 
#menu li ul li{ display:block; margin:5px 20px; padding: 5px 0px;  border-top: dotted 1px #606060;list-style-type:none; } 
#menu li ul li:first-child { border-top: none; } 
#menu li ul li a
{
	display: block;
	color: #D66A2F;
} 
#menu li ul li a:hover
{
	color: #EC2D5C;
} 
/* main submenu */ 
#menu #main { left:0px; top:-20px; padding-top:20px; background-color:#7cb7e3; color:#fff;z-index:999;} 
/* search */ 
.searchContainer div { background-color:#fff; display:inline; padding:5px;} 
.searchContainer input[type="text"] {border:none;} 
.searchContainer img { vertical-align:middle;}
/* corners*/ 
#menu .corner_inset_left { position:absolute; top:0px; left:-12px;} 
#menu .corner_inset_right { position:absolute; top:0px; left:150px;} 
#menu .last { background:transparent none repeat scroll 0% 0%; margin:0px; padding:0px;border:none; position:relative; border:none; height:0px;} 
#menu .corner_left { position:absolute; left:0px; top:0px;} 
#menu .corner_right { position:absolute; left:132px; top:0px;} 
#menu .middle { position:absolute; left:18px; height: 20px; width: 115px; top:0px;}

