.fernandezja {} 

/* This style sheet is intended to contain OFTEN CHANGED rules used when the GridView control adapter is enabled. */
/* Empty rules are provided merely as a convenience for your future use or experimentation. */

.YodaGrilla .AspNet-GridView
{
	width: 90%;
}

.YodaGrilla .AspNet-GridView div.AspNet-GridView-Pagination, .YodaGrilla .AspNet-GridView div.AspNet-GridView-Pagination a, .YodaGrilla .AspNet-GridView div.AspNet-GridView-Pagination span
{
	
	background: #E9F5DA;
	font-weight: normal;
	text-align: center;
	height: 2em;
	margin-bottom: 0.3em;
	padding-top: 0.4em;
}

.YodaGrilla .AspNet-GridView div.AspNet-GridView-Top
{
}

.YodaGrilla .AspNet-GridView div.AspNet-GridView-Bottom
{
    margin-top: 0.3em;
}

.YodaGrilla .AspNet-GridView table
{
    border: none;
    width: 100%;
}

.YodaGrilla .AspNet-GridView table thead tr th
{
	color: #fff;
	font-weight: bold;
	background-color: #336699;
	text-align: center;
	border-right: #d3d3d3 1px solid;
	height: 2em;
	padding-top: 6px;
	
}

.YodaGrilla .AspNet-GridView table thead tr th a
{
    color: #fff;
}

.YodaGrilla .AspNet-GridView table thead tr th table tr td
{
	background-color:Transparent;
	color: #fff;
    border-bottom:#fff 1px solid;padding-top:6px;
    
}

.YodaGrilla .AspNet-GridView table tbody tr td
{
	color: #666666;
	height: 3em;
	background: White;
	border-right: #d3d3d3 1px solid;
	border-bottom: #d3d3d3 1px solid;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 3px;
	text-align: left;
}


.YodaGrilla .AspNet-GridView table tbody tr.AspNet-GridView-Alternate_Out td,
.YodaGrilla .AspNet-GridView table tbody tr._Out td 
{    
    background-color:#FFF;
    height:2em;
}

.YodaGrilla .AspNet-GridView table tbody tr.AspNet-GridView-Alternate td
{    
    background-color:#EAFFEB;
}

.YodaGrilla .AspNet-GridView table tbody tr.filaSeleccionada td
{
    background-color: #FFFF99;
    color: #666666;
}



.YodaGrilla .AspNet-GridView table tbody tr.filaActual td
{
  
}
.YodaGrilla .AspNet-GridView table tbody tr td.colSeleccion 
{
	vertical-align:middle;
	width:50px;
}
.YodaGrilla .AspNet-GridView table tbody tr td.colSeleccion .sel
{
    margin-left:3px;    
}
.YodaGrilla .AspNet-GridView table tbody tr td.colSeleccion .sel input
{  
    float:left;
}

.YodaGrilla .AspNet-GridView table tbody tr td.colSeleccion .navSel
{
	width: 9px;
	height: 15px;
	min-width: 9px;
	min-height: 11px;
	float:left;
	margin-top:5px;
	margin-left:3px;
}
.YodaGrilla .AspNet-GridView table tbody tr.filaActual td.colSeleccion .navSel
{

	background-image: url(imagenes/grilla/grillaIconos_actual.png);
	background-repeat:no-repeat;
}
.YodaGrilla .AspNet-GridView table tbody tr.filaActual td.colSeleccion .sel{    }
.YodaGrilla .AspNet-GridView table tbody tr.AspNet-GridView-Selected td{background-color:#6699FF;}

.YodaGrilla .AspNet-GridView table tfoot tr td{}


.selTest, .YodaGrilla .AspNet-GridView table tbody tr .selTest, .YodaGrilla .AspNet-GridView table tbody .selTest, .YodaGrilla .AspNet-GridView table tbody tr.selTest, .YodaGrilla .AspNet-GridView table tbody tr.selTest td
{
	background-color: #ffffcc;
}




/* 
-------------------------------------------------------------------
TIPO DE COLUMNAS PARA JEDIS :)
-------------------------------------------------------------------
*/
/*COLUMNA: Imagen*/
.YodaGrilla .AspNet-GridView table tbody tr td.tipoImagen
{
	width:50px;
	max-width:50px;
	text-align:center;
}
/*  imagen dentro de la columna Imagen*/
.YodaGrilla .AspNet-GridView table tbody tr td.tipoImagen img
{
	width:50px;
	height:71px;
}


/*COLUMNA: Nombre*/
.YodaGrilla .AspNet-GridView table tbody tr td.tipoNombre 
{
	width:100px;
}
.YodaGrilla .AspNet-GridView table th .tipoNombre 
{
	
}

.grid_link
{
	
}

.grid_link a
{
	cursor: pointer;
    text-decoration: none;
	border: 0 none;
	color: #3366CC;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
	margin: 0;
	padding: 0;
	}
.grid_link a:hover{
	cursor: pointer;
	text-decoration: underline;
}
.icon_search,.icon_edit,.icon_remov,.icon_send{ background-position:center; padding:2px 0 2px 18px}
.icon_search {background:transparent url(../../Images/search.png) no-repeat scroll 0 0;}
.icon_edit {background:transparent url(../../Images/edit.png) no-repeat scroll 0 0;}
.icon_remov{background:transparent url(../../Images/remov_16.png) no-repeat scroll 0 0;}
.icon_send{background:transparent url(../../Images/send_32.png) no-repeat scroll 0 0;}

.grid_Button
{
	border: 0 none;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
	margin: 0;
	padding: 0;
	width:130px;
	height:35px;
	white-space: normal;
}
.grid_Button_confirm{background: transparent url(../../Images/confirm_16.png) no-repeat scroll right center;}
.grid_Button_reject{background: transparent url(../../Images/Delete_16.png) no-repeat scroll right center;}

.grid_Button_send{background: transparent url(../../Images/send_16.png) no-repeat scroll right center;}
.grid_Button_waiting{background: transparent url(../../Images/square_clock_16.png) no-repeat scroll right center;}
.grid_Button_refused{background: transparent url(../../Images/Private.png) no-repeat scroll right center;}

.grid_Button_lock{background: transparent url(../../Images/security-locked_24.png) no-repeat scroll right center;}
.grid_Button_unlock{background: transparent url(../../Images/security-unlocked_24.png) no-repeat scroll right center;}
.grid_Button_remove{background: transparent url(../../Images/trash_16.png) no-repeat scroll right center;}


.grid_label
{
	border: 0 none;
	color: #333333;
	cursor: text;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
	margin: 0;
	padding: 0;
	white-space: normal;
}
