<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral">
      
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="Fwk.Configuration.Common.ConfigurationService.ConfigurationService" value="http://pcpdes008/ConfigurationService/Service/ConfigurationService.asmx"/>-->
    <!--  Tiempo de vida del objeto singleton medido en segundos -->
    <!--<add key="Lifetime" value="3600"/>-->
    <!--  
			Indica que los archivos se levantarán directamente del directorio del ConfigurationProvider. La falta
			de esta key o un valor "false" implica que se deben hacer las solicitudes al webservice.
		-->
    <!--<add key="Local" value="true"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>

  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>