<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		
		
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral" >
			<section name="Fwk.ServiceManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=3.0.0.0, Culture=neutral" requirePermission="false" />
		</sectionGroup>
	</configSections>

	

	<applicationSettings>
		<Fwk.ServiceManagement.Properties.Settings>
			<setting name="ServiceConfigurationManagerType" serializeAs="String">
				<value>Fwk.ServiceManagement.Xml.XmlServiceConfigurationManager, Fwk.Bases</value>
			</setting>
		</Fwk.ServiceManagement.Properties.Settings>
	</applicationSettings>

</configuration>