<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
		<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
		<section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>
		<section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases"/>
	</configSections>
	<connectionStrings>
		<add name="test2" connectionString="Data Source=santana\sqlexpress;Initial Catalog=fwktest;Persist Security Info = True;User ID=sa;Password=as" providerName="System.Data.SqlClient"/>
		<add name="test" connectionString="Database=fwktest;Server=(local)\SQLEXPRESS;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		<add name="db_fwk" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=fwktest;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	
	<FwkWrapper defaultProviderName="health_local">
		<Providers>
			<add name="health_local" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="health" sourceinfo=""/>
			<add name="wrapper_prueva" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="dispatcher_metadata" sourceinfo=""/>
			<add name="wrapper_remoto" type="Fwk.Bases.Connector.WebServiceWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="dispatcher_metadata" sourceinfo="http://localhost:38091/SingleService.asmx"/>
		</Providers>
	</FwkWrapper>
	
	<FwkConfigProvider defaultProviderName="svc">
		<Providers>

			<add name="localFile" type="local" baseConfigFile="ConfigurationManager_01.xml"/>
			<add name="database" type="sqldatabase" baseConfigFile="ConfigurationManager_Test" sourceinfo="test"/>
			<add name="svc" type="servicewrapper" baseConfigFile="ConfigurationManager_Test" sourceinfo="wrapper_remoto"/>

		</Providers>
	</FwkConfigProvider>


  <!--<FwkWrapper defaultProviderName="wrapper_servicios">
    <Providers>
      
      <add name="wrapper_servicios" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" 
           appId="pelsoft" serviceMetadataProviderName="dispatcher_metadata" sourceinfo=""/>
      
      <add name="wrapper_config" type="Fwk.Bases.Connector.WebServiceWrapper,Fwk.Bases.Connector" appId="pelsoft" 
           serviceMetadataProviderName="dispatcher_metadata" sourceinfo="http://localhost:38091/SingleService.asmx"/>
    </Providers>
  </FwkWrapper>-->


  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
