<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral" >
            <section name="Fwk.Configuration.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Fwk.Configuration.Common.Properties.Settings>
            <setting name="Fwk_Framework_Configuration_Common_ConfigurationService_ConfigurationService"
                serializeAs="String">
                <value>http://localhost:1282/Fwk.Configuration.ConfigurationService/ConfigurationService.asmx</value>
            </setting>
            <setting name="Lifetime" serializeAs="String">
                <value>3600</value>
            </setting>
        </Fwk.Configuration.Common.Properties.Settings>
    </applicationSettings>
	
	<system.runtime.remoting>
		<application name="ConfigurationProvider">
			<service>
				<wellknown 
				   mode="Singleton" 
				   type="Fwk.Configuration.Common.ConfigurationHolder, Fwk.Configuration.Common" 
				   objectUri="ConfigurationHolder.rem"
            />
			</service>
			<channels>
				<channel ref="tcp" port="8989"/>
			</channels>
		</application>
	</system.runtime.remoting>
	
</configuration>