<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
    <section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases" />
    <section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases" />

  </configSections>
  <connectionStrings>
    <add name="fwk" connectionString="Database=fwktest;Server=(local)\SQLEXPRESS;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="fwkDES01" connectionString="Database=fwk;Server=corrsf71des01;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <cachingConfiguration defaultCacheManager="Cache">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="120"
				 maximumElementsInCacheBeforeScavenging="2000"
			  numberToRemoveWhenScavenging="20"
				 backingStoreName="Isolated Storage"
			  type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
			  name="Cache" />
    </cacheManagers>
    <backingStores>
      <add partitionName="appDatos"
				 encryptionProviderName=""
				 type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
				name="Isolated Storage" />
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="NullStorage" />
    </backingStores>
  </cachingConfiguration>


  <FwkServiceMetadata defaultProviderName="Xml_Provider">
    <Providers>
      <add name="Xml_Provider" type="xml" appid ="" sourceinfo="\\corrsf71des01\BigBang\test_migracion\ServiceMetadataConfig.xml" securityProviderName="" />
      <add name="Sql_fwk_Bigbang_Local" type="sqldatabase" appid="" sourceinfo="fwk" />
      <add name="Sql_Provider_bb_amex" type="sqldatabase" appid="bigbang" sourceinfo="fwkDES01" securityProviderName=""/>
    </Providers>
  </FwkServiceMetadata>

</configuration>