<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
     
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral" >
			<section name="Fwk.Bases.Connector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="Fwk.Bases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="false" />
         
        </sectionGroup>
    </configSections>
    <applicationSettings>
		
			<Fwk.Bases.Connector.Properties.Settings>
       <setting name="WebServiceDispatcherUrl" serializeAs="String">
           <value>http://localhost/WebServiceDispatcher/SingleService.asmx</value>
       </setting>
       <setting name="Fwk_Bases_Connector_singleservice_SingleService"
           serializeAs="String">
           <value>http://localhost:1119/WebServiceDispatcher/SingleService.asmx</value>
       </setting>
   </Fwk.Bases.Connector.Properties.Settings>
   <Fwk.Bases.Properties.Settings>
				<setting name="Wrapper" serializeAs="String">
					<value>Fwk.Bases.Connector.LocalWrapper, Fwk.Bases.Connector</value>
				</setting>
				<setting name="DispatcherRemotingConfigFilePath" serializeAs="String">
					<value>RemotingConfigFile.config</value>
				</setting>
				<setting name="WebServiceDispatcherUrl" serializeAs="String">
					<value>http://localhost/WebServiceDispatcher/SingleService.asmx</value>
				</setting>
				<setting name="Fwk_Configuration_ConfigurationWebService_ConfigurationService"
     serializeAs="String">
					<value />
				</setting>
				<setting name="ServiceConfigurationManagerType" serializeAs="String">
					<value>Fwk.ServiceManagement.XmlServiceConfigurationManager, Fwk.ServiceManagement</value>
				</setting>
				<setting name="ServiceConfigurationSourceName" serializeAs="String">
					<value>ServiceMetadataConfig.xml</value>
				</setting>
			</Fwk.Bases.Properties.Settings>
	
    </applicationSettings>
</configuration>