<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases" />
    </configSections>
  <FwkWrapper defaultProviderName="XML_test">
    <Providers>
      <add name="XML_test" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector"  sourceinfo="" />
    </Providers>
  </FwkWrapper>
</configuration>