<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
     
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral" >
         
        </sectionGroup>
    </configSections>
    <applicationSettings>
		
			
   
	
    </applicationSettings>
</configuration>