<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fwk.Bases.Properties.Settings.fwktestConnectionString" connectionString="Data Source=SANTANA\SQLEXPRESS;Initial Catalog=fwktest;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Fwk.Bases.Properties.Settings.MailsConnectionString" connectionString="Data Source=SANTANA\SQLEXPRESS;Initial Catalog=Mails;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Fwk.Bases.Properties.Settings.fwktestConnectionString1" connectionString="Data Source=MOVIEDO\SQLEXPRESS;Initial Catalog=fwktest;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Fwk.Bases.Properties.Settings.fwkdataConnectionString" connectionString="Data Source=SANTANA\SQLEXPRESS;Initial Catalog=fwkdata;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Fwk.Bases.Properties.Settings.fwkdataConnectionString1" connectionString="Data Source=CLAPTON\SQLEXPRESS;Initial Catalog=fwkdata;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
