<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases" />
  </configSections>

  <appSettings>
  </appSettings>

  
  <FwkWrapper defaultProviderName="remoto">
    <Providers>
      <add name="local" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="health" sourceinfo="" />
      <add name="remoto" type="Fwk.Bases.Connector.RemotingWrapper,Fwk.Bases.Connector"
           appId="pelsoft" serviceMetadataProviderName="health" 
           sourceinfo="RemotingConfigFile.config" />
    </Providers>
  </FwkWrapper>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
