<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>

      <wsHttpBinding>
        <binding name="mfo_HttpBinding"  >
          <security mode="Message">
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="CoreSecurity">
        <!--supports the old ASMX style, aimed for clients who do not have .NET 3.0   -->
        <endpoint address="basic" binding="basicHttpBinding"
          name="Basic" contract="Fwk.WCF.CentralizedSecurity.ICoreSecurity" />
        <!-- exposes web services using WS-* specifications,  it does not support wider ranges of client and it cannot be consumed by older .NET version less than 3
        support Reliable messaging	-->
        <endpoint binding="wsHttpBinding"  name="ws" bindingConfiguration="mfo_HttpBinding"
          contract="Fwk.WCF.CentralizedSecurity.ICoreSecurity" />
        
        <endpoint address="mexHttp" binding="mexHttpBinding" bindingConfiguration=""
          name="mex" contract="Fwk.WCF.CentralizedSecurity.ICoreSecurity" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  
          Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"  />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
