<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
		<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral">

		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="test2" connectionString="Data Source=santana\sqlexpress;Initial Catalog=fwktest;Persist Security Info = True;User ID=sa;Password=as" providerName="System.Data.SqlClient"/>
		<add name="test" connectionString="Database=fwktest;Server=(local)\SQLEXPRESS;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		<add name="test44" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=fwktest;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	
	<FwkWrapper defaultProviderName="health_local">
		<Providers>
			<add name="health_local" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" companyId="pelsoft" serviceMetadataProviderName="health" sourceinfo=""/>
			<add name="wrapper_prueva" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" companyId="pelsoft" serviceMetadataProviderName="dispatcher_metadata" sourceinfo=""/>
			<add name="health_remoto_" type="Fwk.Bases.Connector.WebServiceWrapper,Fwk.Bases.Connector" companyId="pelsoft" serviceMetadataProviderName="health" sourceinfo="http://katy.sytes.net/healthWS/SingleService.asmx"/>
		</Providers>
	</FwkWrapper>
	
	<FwkConfigProvider defaultProviderName="svc">
		<Providers>

			<add name="localFile" type="local" baseConfigFile="..\..\..\Test\Fwk.UnitTest\bin\Debug\ConfigurationManager.xml"/>
			<add name="database" type="sqldatabase" baseConfigFile="ConfigurationManager_Test" sourceinfo="test"/>
			<add name="svc" type="servicewrapper" baseConfigFile="ConfigurationManager_Test" sourceinfo="wrapper_prueva"/>

		</Providers>
	</FwkConfigProvider>



<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
