<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
		<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral" >

		</sectionGroup>
	</configSections>
	
	<FwkConfigProvider defaultProviderName="P1">
		<Providers>
			<add name="P1"  isLocal="True"  baseConfigFile="ConfigurationManager_01.xml" remotingConfigFile = "" lifeTime="0" />
													
			<add name="P2"  isLocal="True"  baseConfigFile="ConfigurationManager_02.xml" remotingConfigFile = "" lifeTime="0"/>
			<add name="RemoteProvider"  isLocal="False"  baseConfigFile="ConfigurationManager.xml" remotingConfigFile = "remotingconfigfile.config" lifeTime="1000"/>
			
		</Providers>
	</FwkConfigProvider>



</configuration>