<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>
    <section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases"/>
    
  </configSections>

  <appSettings>
    <add key="ServiceDispatcherName" value="Healt_Disp_Test"/>
    <add key="ServiceDispatcherConnection" value="health_dispatcher"/>
    <!--<add key="HostApplicationName" value="Health soft service"/>-->
  </appSettings>
  <FwkServiceMetadata defaultProviderName="health">
    <Providers>
      <add name="health" type="xml" appid="" sourceinfo="Metasvc.xml" securityProviderName="health_sec"/>
    </Providers>
  </FwkServiceMetadata>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MEXGET" name="WcfDispatcher.Service.FwkService">
        
        <endpoint binding="netTcpBinding" bindingConfiguration="TransactionalTCP" name="tcp" contract="WcfDispatcher.Service.IFwkService"/>
        
        <endpoint address="mex" binding="mexHttpBinding" name="web" contract="WcfDispatcher.Service.IFwkService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8001/FwkService"/>
            <add baseAddress="http://localhost:8732/WcfDispatcher/FwkService/"/>
          </baseAddresses>
        </host>
      </service>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MEXGET">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TransactionalTCP" transactionFlow="true"/>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

  <system.web>
    <compilation debug="true"/>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
