
	<configuration>
		<configSections>
			<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			
		</configSections>

		<connectionStrings>
			<add name="FwkSecurityConnectionString" connectionString="Data Source=katy\SQLEXPRESS;Initial Catalog=BigBang;Integrated Security=True" providerName="System.Data.SqlClient"/>
			<add name="Tesa" connectionString="Data Source=santana\SQLEXPRESS;Initial Catalog=bigbang;Persist Security Info = True;User ID=BigBang;Password=B1gB4ng+01" providerName="System.Data.SqlClient" />
			<add name="Personal" connectionString="Data Source=santana\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient" />
			
		</connectionStrings>
		<system.web>
		<roleManager defaultProvider="bigbang" 
					 enabled="true" cacheRolesInCookie="true" 
					 cookieName=".ASPROLES" 
					 cookieTimeout="30" 
					 cookiePath="/" 
					 cookieRequireSSL="false" 
					 cookieSlidingExpiration="true"
					 cookieProtection="All">
			<providers>
				<add name="bigbang" type="System.Web.Security.SqlRoleProvider" 
					 connectionStringName="FwkSecurityConnectionString" 
					 applicationName="Bigbang"/>
        <add name="tesa" type="System.Web.Security.SqlRoleProvider"
         connectionStringName="Tesa"
         applicationName="Tesa"/>
			</providers>
		</roleManager>
		
		<membership defaultProvider="bigbang" userIsOnlineTimeWindow="15">
				<providers>
					<add name="bigbang" 
               applicationName="Bigbang" 
               type="System.Web.Security.SqlMembershipProvider"
						 connectionStringName="FwkSecurityConnectionString" 
						enablePasswordRetrieval="false" 
						 enablePasswordReset="true" requiresQuestionAndAnswer="false"
						 requiresUniqueEmail="false" passwordFormat="Hashed" 
						 minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
          <add name="tesa"
              applicationName="Bigbang"
              type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="Tesa"
           enablePasswordRetrieval="false"
            enablePasswordReset="true" requiresQuestionAndAnswer="false"
            requiresUniqueEmail="false" passwordFormat="Hashed"
            minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>

        </providers>
     
			</membership>
	</system.web>
	</configuration>
