<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases" />
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fwk.Bases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <securityConfiguration defaultAuthorizationInstance="test" defaultSecurityCacheInstance="ServiceCache">
    <authorizationProviders>
      <add connectionStringName="test"
					   type="Fwk.Security.FwkAuthorizationRuleProvider, Fwk.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					   name="test"/>
    </authorizationProviders>
  </securityConfiguration>
  <cachingConfiguration defaultCacheManager="ServiceCache">
    <cacheManagers>

      <add expirationPollFrequencyInSeconds="120"
					   maximumElementsInCacheBeforeScavenging="2000"
					numberToRemoveWhenScavenging="20"
					   backingStoreName="Isolated Storage"
					type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					name="ServiceCache" />
    </cacheManagers>
    <backingStores>
      <add partitionName="appDatos"
					   encryptionProviderName=""
					   type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					  name="Isolated Storage" />
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullStorage" />
    </backingStores>

  </cachingConfiguration>
  <connectionStrings>
    <add name="testsa" connectionString="Data Source=SANTANA\SQLEXPRESS;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=sa;Password=as" providerName="System.Data.SqlClient" />
    <add name="test" connectionString="Data Source=santana\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MaxRecords" value="2147483647"/>
  </appSettings>

  <applicationSettings>
    <Fwk.Bases.Properties.Settings>
      <!--Tipo de del origen de datos de la mertadata los servicios -->
      <setting name="ServiceConfigurationManagerType" serializeAs="String">
        <value>Fwk.ServiceManagement.XmlServiceConfigurationManager, Fwk.Bases</value>
      </setting>

      <!--Metadata de los servicios -->
      <setting name="ServiceConfigurationSourceName" serializeAs="String">
        <value>ServiceMetadataConfig.xml</value>
      </setting>

    </Fwk.Bases.Properties.Settings>
  </applicationSettings>
  <!--Configuracion del los proveedores de  configuracion del frameworck -->
  <FwkConfigProvider defaultProviderName="local">
    <Providers>
      <add name="local" isLocal="True" baseConfigFile="ConfigurationManager.xml" remotingConfigFile="" lifeTime="0" />
    </Providers>
  </FwkConfigProvider>
  <!--Configuracion del logging del frameworck -->
  <FwkLogging>
    <Rules>


      <add name="Rule2" events="Error" target="Xml" fileName="Logs.xml" />
      <add name="Rule3" events="Audit" target="Xml" cnnStringName="" fileName="Logs.xml" />
      <add name="Rule4" events="Information" target="WindowsEvent" />

    </Rules>
  </FwkLogging>
  <system.web>
    <roleManager defaultProvider="test" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="test" type="System.Web.Security.SqlRoleProvider" connectionStringName="test" applicationName="test"/>
      </providers>
    </roleManager>
    <membership defaultProvider="test" userIsOnlineTimeWindow="15">
      <providers>
        <add name="test" type="System.Web.Security.SqlMembershipProvider"
							 connectionStringName="test" applicationName="test" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
  </system.web>
  <system.runtime.remoting>
    <application name="BigbangDispatcher">
      <service>
        <wellknown
				   mode="Singleton"
				   type="Fwk.Remoting.FwkRemoteObject, Fwk.Bases"
				   objectUri="TestDispatcher.rem"
            />
      </service>
      <channels>
        <channel ref="tcp" port="8085"/>
      </channels>
    </application>
    <customErrors mode="Off"/>
  </system.runtime.remoting>
</configuration>