<?xml version="1.0"?>
<configuration>

  <configSections>
    
    
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>

  </configSections>
  
  
  <connectionStrings>
        <add name="test" connectionString="Data Source=santana\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

  </appSettings>

 

  <!--Configuracion del los proveedores de  configuracion del frameworck -->
  <FwkConfigProvider defaultProviderName="local">
    <Providers>
      <add name="local" type="local" baseConfigFile="ConfigurationManeger.xml"/>
    </Providers>
  </FwkConfigProvider>
  <!--Configuracion del logging del frameworck -->
  
  
  <FwkServiceMetadata defaultProviderName="health">
    <Providers>
      
      <add name="health" type="xml" appid="" sourceinfo="ServiceMetadataConfig.xml" securityProviderName="sec"/>
      <add name="Sql" type="sqldatabase" appid="" sourceinfo="test" securityProviderName="sec"/>
    </Providers>
  </FwkServiceMetadata>
  
  <system.web>
    <roleManager defaultProvider="sec" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="sec" type="System.Web.Security.SqlRoleProvider" connectionStringName="test" applicationName="test"/>
      </providers>
    </roleManager>
    <membership defaultProvider="sec" userIsOnlineTimeWindow="15">
      <providers>
        <add name="sec" type="System.Web.Security.SqlMembershipProvider" connectionStringName="test" applicationName="test" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
  </system.web>
  
  <system.runtime.remoting>
    <application name="TestDispatcher">
      <service>
        <wellknown mode="Singleton" type="Fwk.Remoting.FwkRemoteObject, Fwk.Bases" objectUri="TestDispatcher.rem"/>
      </service>
      <channels>
        <channel ref="tcp" port="8085"/>
      </channels>
    </application>
    <customErrors mode="Off"/>
  </system.runtime.remoting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
