<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="SingleCall"
           type="Fwk.Remoting.RemoteTypes.RemoteObject, Fwk.Remoting.RemoteTypes"
           objectUri="EPECDispatcher.rem"
            />
      </service>
      <channels>
        <channel ref="tcp" port="8989" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>