<configuration>
  <configSections>

    <section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases" />
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases" />

   
  </configSections>

  <connectionStrings>
    <add name="BlockingModel"
         connectionString="Data Source=CORRSF71DES01;Initial Catalog=BBNuevoLook_Blocking;Persist Security Info = True;User ID=BBNuevoLook_srvEtl;Password=des01_BBNuevoLook_srvEtl_8ene14"
         providerName="System.Data.SqlClient" />
  </connectionStrings>


  <FwkServiceMetadata defaultProviderName="BigBang">
    <Providers>
      <add name="BigBang" type="xml" appid=""
           sourceinfo="F:\projects\arquitectura\fwk\tags\3.0.0.12\src\Fwk\Test\Fwk.Blocking.Test\ServiceMetadataConfig.xml" securityProviderName="SqlMembershipProvider" />
    </Providers>
  </FwkServiceMetadata>

  <FwkWrapper defaultProviderName="BB_Local">
    <Providers>
      <add name="BB_Local" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" appId="" serviceMetadataProviderName="BigBang" sourceinfo="" />
      <add name="BB_Remoto" type="Fwk.Bases.Connector.RemotingWrapper,Fwk.Bases.Connector"  appId="" serviceMetadataProviderName="BigBang" sourceinfo="Remoting.config" />
    </Providers>
  </FwkWrapper>

</configuration>