<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
    
    
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>
    

  </configSections>
  <connectionStrings>
    <add name="fwk" connectionString="Database=fwktest;Server=(local)\SQLEXPRESS;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="fwkDES01" connectionString="Database=fwk;Server=corrsf71des01;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  


  <FwkServiceMetadata defaultProviderName="Xml_Provider">
    <Providers>
      <add name="Fwk_Metadata" type="xml" sourceinfo="D:\Projects\fwk\trunk\src\Fwk\Fwk.Bases\ServiceMetadataConfig.xml"
       appid="" />
      
      <add name="gastos_katy" type="xml" sourceinfo="D:\Projects\sfimplementations\PelsoftGastos\trunk\src\PelsoftGastos.FrontEnd\Metasvc.xml" appid=""/>
      <add name="seguridad_fwk" type="xml" sourceinfo="D:\Projects\fwk\trunk\src\SqlScripts\Fwk.Security\securityMetadata.xml" appid=""/>
      <add name="pelsofthealth" type="xml" sourceinfo="D:\Projects\pelsofthealth\trunk\src\Health.Ws\Metasvc.xml" appid=""/>
    </Providers>
  </FwkServiceMetadata>

  <system.web>
    <trust level="Full"/>
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/"/>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
