<?xml version="1.0"?>
<configuration>


  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MEXGET" name="WcfDispatcher.FwkService1">
        <endpoint binding="netTcpBinding" bindingConfiguration="TransactionalTCP"
          name="tcp" contract="WcfDispatcher.IFwkService1" />
        <endpoint address="mex" binding="mexHttpBinding" name="web" contract="WcfDispatcher.IFwkService1" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8001/FwkService1" />
            <add baseAddress="http://localhost:8732/WcfDispatcher/FwkService1/" />
          </baseAddresses>
        </host>
      </service>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MEXGET">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TransactionalTCP" transactionFlow="true"/>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

  <system.web>
    <compilation debug="true"/>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
