<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <system.serviceModel>
    <services>
      <service name="WcfDispatcher.FwkService1" behaviorConfiguration="MEXGET" >
                     
        <endpoint 
          binding="netTcpBinding"
          contract="WcfDispatcher.IFwkService1"
          bindingConfiguration = "TransactionalTCP"
          >
        </endpoint>
        <endpoint address="mex"
                 binding="mexHttpBinding"
                 contract="WcfDispatcher.IFwkService1" />

        
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://santana:8001/FwkService2" />
            <add baseAddress="http://localhost:8732/WcfDispatcher/Service2/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="WcfDispatcher.FwkService2" behaviorConfiguration="MEXGET" >

        
        

        <endpoint
        binding="netTcpBinding"
        contract="WcfDispatcher.IFwkService2"
        bindingConfiguration = "TransactionalTCP"
          >
        </endpoint>
        <endpoint address="mex"
                 binding="mexHttpBinding"
                 contract="WcfDispatcher.IFwkService2" />


        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://santana:8001/FwkService2" />
            <add baseAddress="http://localhost:8732/WcfDispatcher/Service2/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MEXGET">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name = "TransactionalTCP"
           transactionFlow = "true"
         />
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>
