<?xml version="1.0"?>
<configuration>


  <configSections>
    <section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases"/>
  </configSections>
  
  <FwkWrapper defaultProviderName="health_wcf_local">
    <Providers>
      
      <add name="wrap_wcf_ws2008" type="Fwk.Bases.Connector.WCFWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="health" sourceinfo="net.tcp:// 192.168.1.178:8001/FwkService"/>
      <add name="wrap_clapton" type="Fwk.Bases.Connector.WCFWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="health" sourceinfo="net.tcp://192.168.1.189:8001/FwkService"/>
      <add name="wrap_wcf_local" type="Fwk.Bases.Connector.WCFWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="health" sourceinfo="net.tcp://localhost:8001/FwkService"/>
      <add name="wrap_local" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="health" sourceinfo=""/>
    </Providers>
  </FwkWrapper>
  
    <!--<system.serviceModel>


      <bindings>
        <netTcpBinding>
          <binding name="tcp"/>
        </netTcpBinding>
        <wsHttpBinding>
          <binding name="web">
            <security mode="None"/>
          </binding>
        </wsHttpBinding>
      </bindings>
      <client>
        <endpoint address="net.tcp://localhost:8001/FwkService" binding="netTcpBinding" contract="ServiceReference1.IFwkService" name="FirstEndpoint"/>
        <endpoint address="net.tcp://localhost:8001/FwkService" binding="netTcpBinding" bindingConfiguration="tcp" contract="ServiceReference1.IFwkService" name="tcp">
          <identity>
            <userPrincipalName value="santana\moviedo"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8732/WcfDispatcher/FwkService/mex" binding="wsHttpBinding" bindingConfiguration="web" contract="ServiceReference1.IFwkService" name="web"/>
      </client>
    </system.serviceModel>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
