<?xml version="1.0"?>
<configuration>
	<configSections>

	</configSections>
	<appSettings>
		<!--performWindowsContextImpersonalization on HD Helper-->
		<add key="FwkImpersonate" value="false"/>
	</appSettings>


	<connectionStrings>
		<!--CORRSF71DES01 = 172.22.13.150 -->
		<add name="ActiveDirectory_" connectionString="Data Source=CORRSF71DES01;Initial Catalog=BB_Desarrollo_1_6_0;Persist Security Info = False;Trusted_Connection=Yes" providerName="System.Data.SqlClient"/>
		<add name="ActiveDirectory" connectionString="Data Source=172.22.13.150;Initial Catalog=BB_Desarrollo_1_6_0;Persist Security Info = True;User ID=user_BB_des160;Password=88_Des01_160_Jul222011" providerName="System.Data.SqlClient"/>
		<add name="connectionStringSec" connectionString="Data Source=corrsf71nt09;Initial Catalog=BigBang;Persist Security Info = True;User ID=BigBang;Password=B1gB4ng+01" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>

		<basicHttpBinding>
			<binding name="mfo_basicHttpBinding" bypassProxyOnLocal="false"
			  useDefaultWebProxy="false">
				<security mode="Message">
					<message clientCredentialType="UserName" algorithmSuite="Default" />
				</security>
			</binding>
		</basicHttpBinding>
      <wsHttpBinding>
        <binding name="mfo_HttpBinding"  >
          <security mode="None">
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="CoreSecurity">
        <!--supports the old ASMX style, aimed for clients who do not have .NET 3.0   -->
        <endpoint  name="Basic" address="basic" binding="basicHttpBinding" contract="CentralizedSecurity.wcf.ICoreSecurity" />
        <!-- exposes web services using WS-* specifications,  it does not support wider ranges of client and it cannot be consumed by older .NET version less than 3
        support Reliable messaging	-->
        <endpoint name="ws" binding="wsHttpBinding"   bindingConfiguration="mfo_HttpBinding"     contract="CentralizedSecurity.wcf.ICoreSecurity" />
        <endpoint name="mex" address="mexHttp" binding="mexHttpBinding" bindingConfiguration=""        contract="CentralizedSecurity.wcf.ICoreSecurity" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  
          Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"  aspNetCompatibilityEnabled="true"/>

    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true"/>
      </webScriptEndpoint>
    </standardEndpoints>
    
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
