<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>

	</configSections>
	<connectionStrings>
  <add name="bb" connectionString="Data Source=MOVIEDO\sqlexpress;Initial Catalog=fwktest;Persist Security Info = True;User ID=sa;Password=as"
   providerName="System.Data.SqlClient" />
  <add name="bb_des01" connectionString="Data Source=CORRSF71DES01;Initial Catalog=FwkBlocking;Persist Security Info=True;User ID=sa;Password=as"
   providerName="System.Data.SqlClient" />
  
 </connectionStrings>

	<!--Configuracion del los proveedores de  configuracion del frameworck -->
	<FwkConfigProvider defaultProviderName="bb_config.en-US">
		<Providers>
			
			<add name="bb_config.en-US" type="sqldatabase" baseConfigFile="bb_config.es-US" sourceinfo="bb"/>
			<add name="bb_config.es-AR" type="sqldatabase" baseConfigFile="bb_config.es-AR"   sourceinfo="bb" />
		</Providers>
	</FwkConfigProvider>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
